{% include "hubspot/styles/base/style_manager_base.css" %}

#CGRProducts-July2015-logo img {
  display: inline;}

#CGRProducts-July2015-name {
  display: none;}

body {
  background: #e1e1e1;
  color: #444444;}

.container-fluid {
  max-width: 970px;
  margin: 0px auto;}

h1, h2, h3, h4, h5 {
  color: #404040;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

.hs_cos_wrapper_type_section_header .page-header h1, .hs_cos_wrapper_type_section_header .page-header .secondary-header span, .marketing .page-header h1, .marketing .page-header p.marketing-byline {
  text-align: center;}

.hs_cos_wrapper_type_section_header .page-header, .hs_cos_wrapper_type_section_header .page-header p {
  margin-bottom: 0px;}

.hs_cos_wrapper_type_section_header .page-header .secondary-header span {
  display: block;}

.cell-wrapper {
  margin-bottom: 30px;}

.widget-type-space {
  visibility: hidden;}

.widget-type-image .layout-widget-wrapper, .widget-type-linked_image .layout-widget-wrapper {
  text-align: center;}

.hs_cos_wrapper_widget img {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  height: auto !important;}

.hs_cos_wrapper_widget img {
  max-width: 100% } @media all { .hs_cos_wrapper_widget img { max-width: 99999px\0/; } } @media all and (monochrome:0) { .hs_cos_wrapper_widget img { max-width: 100%\9; } } .hs_cos_wrapper_widget img { height: auto;}

.hs_cos_wrapper_widget.hs_cos_wrapper_type_social_sharing img {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;}

.row-fluid h1, .row-fluid h2, .row-fluid h3, .row-fluid h4, .row-fluid h5, .row-fluid h6 {
  text-align: left;}

.widget-type-rich_text h1, .widget-type-rich_text h2, .widget-type-rich_text h3, .widget-type-rich_text h4, .widget-type-rich_text h5, .widget-type-rich_text h6, .widget-type-rich_text p, .widget-type-rich_text ul {
  margin-bottom: 15px;}

.row-fluid h3.form-title {
  margin-bottom: 0px;}

.header-container .hs_cos_wrapper_type_logo, .header-container #hs_cos_wrapper_logo, .header-container #hs_cos_wrapper_logo h1.logo-CGRProducts-July2015-name, header.jumbotron h1, header.jumbotron p.lead {
  text-align: left;
  display: block;}

a {
  color: #3574E3;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

a:hover {
  color: #2463D2;}

p, ul, li, .hs-button, .marketing .marketing-byline {
  color: #444444;
  font-family: Helvetica, Trebuchet MS, sans-serif;
  text-align: left;}

.header-container, .header-container p, .header-container ul, .header-container li {
  color: #444444;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

.footer-container, .footer-container p, .footer-container ul, .footer-container li {
  color: #444444;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

::selection {
  background: #0074CC;
  color: #fff;
  text-shadow: none;}

::-moz-selection {
  background: #0074CC;
  color: #fff;
  text-shadow: none;}

.btn, .hs-button {
  margin: 0px 15px 15px 0;}

.page-header, .footer-container footer, footer.footer {
  border-color: transparent;
  border-color: rgba(0, 0, 0, 0.05);}

.btn, .hs-button {
  font-family: Helvetica, Trebuchet MS, sans-serif;}

.btn-primary, .hs-button.primary {
  background-color: #0074CC;
  color: #ffffff;
  background-image: -ms-linear-gradient(top, rgb(0,150,255), #0074CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0,150,255)), to(#0074CC));
  background-image: -webkit-linear-gradient(top, rgb(0,150,255), #0074CC);
  background-image: -o-linear-gradient(top, rgb(0,150,255), #0074CC);
  background-image: -moz-linear-gradient(top, rgb(0,150,255), #0074CC);
  background-image: linear-gradient(top, rgb(0,150,255), #0074CC);
  border-color: #0074CC #0074CC rgb(0,81,142);}

.btn-primary:hover, .hs-button.primary:hover, .btn-primary:active, .hs-button.primary:active, .btn-primary.active, .hs-button.primary.active, .btn-primary.disabled, .hs-button.primary.disabled, .btn-primary[disabled], .hs-button.primary[disabled] {
  background-color: #0074CC;}

form label {
  color: #444444;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background: #ffffff;
  border-color: #cccccc;
  color: #555555;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #0074CC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0074CC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0074CC;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0074CC;}

h3.form-title {
  font-size: 22px;
  line-height: 36px;
  color: #444444;
  font-family: Helvetica, Trebuchet MS, sans-serif;}

h3.form-title + form.hs-form {
  margin-top: 20px;}

form.hs-form .hs-form-field ul.inputs-list {
  margin-left: 0px;}
form.hs-form .hs-form-field ul.inputs-list li {
  list-style: none;
  margin-left: 0px;}
form.hs-form .hs-form-field ul.inputs-list li input {
  margin-right: 0.5em;}

form.hs-form .email-correction, form.hs-form .email-validation {
  border: 1px solid #f1dcbc;
  padding: 5px 4px;
  margin-bottom: 1em;
  background: #fdf5d9;
  border-radius: 4px;}

form.hs-form input[type="text"], form.hs-form input[type="email"], form.hs-form select, form.hs-form textarea, form.hs-form .email-correction, form.hs-form .email-validation {
  width: 95%;}

.footer-container footer, footer.footer {
  text-align: left;}

.hs-menu-wrapper a {
  color: #444444;
  background: #eeeeee;}
.hs-menu-wrapper a:hover {
  color: #ffffff;
  background: #3574E3;}

.hs-menu-wrapper.hs-menu-flow-horizontal .active-branch > a {
  box-shadow: inset 0px 4px #3574E3;
  -webkit-box-shadow: inset 0px 4px #3574E3;
  -moz-box-shadow: inset 0px 4px #3574E3;}
.hs-menu-wrapper.hs-menu-flow-horizontal .active-item > a {
  box-shadow: inset 0px 4px #3574E3;
  -webkit-box-shadow: inset 0px 4px #3574E3;
  -moz-box-shadow: inset 0px 4px #3574E3;}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch li.hs-menu-depth-1 .active-branch > a {
  box-shadow: inset 4px 0px #3574E3;
  -webkit-box-shadow: inset 4px 0px #3574E3;
  -moz-box-shadow: inset 4px 0px #3574E3;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch li.hs-menu-depth-1 .active-item > a {
  box-shadow: inset 4px 0px #3574E3;
  -webkit-box-shadow: inset 4px 0px #3574E3;
  -moz-box-shadow: inset 4px 0px #3574E3;}

.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-not-show-active-branch .active-branch > a {
  box-shadow: inset 4px 0px #3574E3;
  -webkit-box-shadow: inset 4px 0px #3574E3;
  -moz-box-shadow: inset 4px 0px #3574E3;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-not-show-active-branch .active-item > a {
  box-shadow: inset 4px 0px #3574E3;
  -webkit-box-shadow: inset 4px 0px #3574E3;
  -moz-box-shadow: inset 4px 0px #3574E3;}

.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch .active-item > a {
  box-shadow: inset 4px 0px #3574E3;
  -webkit-box-shadow: inset 4px 0px #3574E3;
  -moz-box-shadow: inset 4px 0px #3574E3;}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul li.hs-menu-depth-1:first-child > a {
  border-radius: none 0px 0px none;
  -webkit-border-radius: none 0px 0px none;
  -moz-border-radius: none 0px 0px none;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul li.hs-menu-depth-1:last-child > a {
  border-radius: 0px none none 0px;
  -webkit-border-radius: 0px none none 0px;
  -moz-border-radius: 0px none none 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul li.hs-menu-depth-1:first-child:last-child > a {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul:hover > li.hs-menu-depth-1.hs-item-has-children:first-child > a {
  border-radius: none 0px 0px 0px;
  -webkit-border-radius: none 0px 0px 0px;
  -moz-border-radius: none 0px 0px 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-not-show-active-branch > ul:hover > li.hs-menu-depth-1.hs-item-has-children:last-child > a {
  border-radius: 0px none 0px 0px;
  -webkit-border-radius: 0px none 0px 0px;
  -moz-border-radius: 0px none 0px 0px;}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-menu-depth-1:first-child > a {
  border-radius: none 0px 0px 0px;
  -webkit-border-radius: none 0px 0px 0px;
  -moz-border-radius: none 0px 0px 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-menu-depth-1:last-child > a {
  border-radius: 0px none 0px 0px;
  -webkit-border-radius: 0px none 0px 0px;
  -moz-border-radius: 0px none 0px 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-menu-depth-1:first-child:last-child > a {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}

.hs-menu-wrapper.hs-menu-flow-vertical > ul {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul > li:first-child > a {
  border-radius: none none 0px 0px;
  -webkit-border-radius: none none 0px 0px;
  -moz-border-radius: none none 0px 0px;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul > li:last-child > a {
  border-radius: 0px 0px none none;
  -webkit-border-radius: 0px 0px none none;
  -moz-border-radius: 0px 0px none none;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul > li:first-child:last-child > a {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}

.hs-menu-wrapper.hs-menu-flow-horizontal ul {
  list-style: none;
  margin: 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul {
  display: inline-block;
  margin-bottom: 20px;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul:before {
  content: " ";
  display: table;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul:after {
  content: " ";
  display: table;
  clear: both;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
  float: left;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children {
  position: relative;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  position: absolute;
  z-index: 10;
  left: 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  display: block;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
  left: 180px;
  top: 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children:hover > ul.hs-menu-children-wrapper {
  opacity: 1;
  visibility: visible;}

.row-fluid-wrapper:last-child .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
  margin-bottom: 0px;}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch {
  position: relative;
  margin-bottom: 20px;
  min-height: 7em;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul {
  margin-bottom: 0px;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children {
  position: static;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  display: none;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper {
  display: block;
  visibility: visible;
  opacity: 1;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper:before {
  content: " ";
  display: table;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper:after {
  content: " ";
  display: table;
  clear: both;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper > li {
  float: left;}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper > li a {
  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;
  max-width: 140px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;}

.hs-menu-wrapper.hs-menu-flow-vertical {
  width: 100%;}
.hs-menu-wrapper.hs-menu-flow-vertical ul {
  list-style: none;
  margin: 0px;}
.hs-menu-wrapper.hs-menu-flow-vertical li a {
  display: block;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul {
  margin-bottom: 20px;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-menu-depth-1 > a {
  width: auto;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li a {
  padding: 10px 20px;
  text-decoration: none;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children {
  position: relative;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 180px;}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children:hover > ul.hs-menu-children-wrapper {
  opacity: 1;
  visibility: visible;}

.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li a {
  min-width: 140px;
  width: auto;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch > ul {
  max-width: 100%;
  overflow: hidden;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  display: none;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper {
  display: block;
  visibility: visible;
  opacity: 1;
  position: static;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch > ul li.hs-item-has-children.active-branch > ul.hs-menu-children-wrapper > li.hs-item-has-children > ul.hs-menu-children-wrapper {
  display: block;
  visibility: visible;
  opacity: 1;
  position: static;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-2 > a {
  padding-left: 4em;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-3 > a {
  padding-left: 6em;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-4 > a {
  padding-left: 8em;}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-5 > a {
  padding-left: 140px;}

.hs-menu-wrapper.hs-menu-not-show-active-branch li.hs-menu-depth-1 ul {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);}

.widget-type-blog_content .post-item {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);}

.hs-author-profile {
  margin: 0 0 1em 0;}

.hs-author-listing-header {
  margin: 0 0 .75em 0;}

.hs-author-social-links {
  display: inline-block;}
.hs-author-social-links a.hs-author-social-link {
  width: 24px;
  height: 24px;
  border-width: 0px;
  border: 0px;
  line-height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: inline-block !important;
  text-indent: -99999px;}
.hs-author-social-links a.hs-author-social-link.hs-social-facebook {
  background-image: url("//static.hubspot.com/final/img/common/icons/social/facebook-24x24.png");}
.hs-author-social-links a.hs-author-social-link.hs-social-linkedin {
  background-image: url("//static.hubspot.com/final/img/common/icons/social/linkedin-24x24.png");}
.hs-author-social-links a.hs-author-social-link.hs-social-twitter {
  background-image: url("//static.hubspot.com/final/img/common/icons/social/twitter-24x24.png");}
.hs-author-social-links a.hs-author-social-link.hs-social-google-plus {
  background-image: url("//static.hubspot.com/final/img/common/icons/social/googleplus-24x24.png");}

.container-fluid {
  padding: 40px;
  background: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;}
.container-fluid.body-container {
  margin: 25px auto;}
.container-fluid.header-container {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  padding-bottom: 22px;
  background: #f5f5f5;}
.container-fluid.footer-container {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  padding-top: 30px;
  background: #f5f5f5;}
.container-fluid.footer-container footer {
  padding: 0px;
  margin: 0px;}

.btn-primary, .hs-button.primary {-webkit-font-smoothing:antialiased !important;cursor:pointer !important;-moz-user-select:none !important;-webkit-user-select:none !important;-o-user-select:none !important;user-select:none !important;display:inline-block !important;font-weight:bold !important;text-align:center !important;text-decoration:none !important;width:auto !important;height:auto !important;font-family:Helvetica, Trebuchet MS, sans-serif !important;border-radius:4px !important;background-color:rgb(0,116,204) !important;background-image:-webkit-linear-gradient(top, rgb(0,116,204), rgb(0,87,153)) !important;background-image :-moz-linear-gradient(top, rgb(0,116,204), rgb(0,87,153)) !important;box-shadow:inset 0px 1px rgb(0,145,255) !important;-webkit-box-shadow:inset 0px 1px rgb(0,145,255) !important;-moz-box-shadow:inset 0px 1px rgb(0,145,255) !important;color:rgb(255,255,255) !important;border:2px solid rgb(0,58,102) !important;text-shadow:0px -1px rgb(0,34,61) !important;padding:4px 12px !important;font-size:16px !important;line-height:24px !important;}.btn-primary:hover, .hs-button.primary:hover {background-color:rgb(0,127,224) !important;background-image:-webkit-linear-gradient(top, rgb(0,127,224), rgb(0,87,153)) !important;background-image :-moz-linear-gradient(top, rgb(0,127,224), rgb(0,87,153)) !important;box-shadow:inset 0px 1px rgb(0,156,255), 0px 1px 8px rgba(0, 0, 0, 0.3) !important;-webkit-box-shadow:inset 0px 1px rgb(0,156,255), 0px 1px 8px rgba(0, 0, 0, 0.3) !important;-moz-box-shadow:inset 0px 1px rgb(0,156,255), 0px 1px 8px rgba(0, 0, 0, 0.3) !important;color:rgb(255,255,255) !important;border:2px solid rgb(0,69,122) !important;}.btn-primary:active, .hs-button.primary:active .btn-primary:active:hover, .hs-button.primary:active:hover {background-color:rgb(0,87,153) !important;background-image:-webkit-linear-gradient(top, rgb(0,87,153), rgb(0,116,204)) !important;background-image :-moz-linear-gradient(top, rgb(0,87,153), rgb(0,116,204)) !important;box-shadow:inset 0px 1px 10px rgba(0, 0, 0, 0.5) !important;-webkit-box-shadow:inset 0px 1px 10px rgba(0, 0, 0, 0.5) !important;-moz-box-shadow:inset 0px 1px 10px rgba(0, 0, 0, 0.5) !important;color:rgb(244,244,244) !important;}