<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="{{ site_settings.company_name }}">
  <meta name="description" content="{{ page_meta.meta_description }}">
  <meta name="generator" content="HubSpot">
  <title>{{ page_meta.html_title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//use.typekit.net/kga4vkj.js"></script>
  <script>
  try {
    Typekit.load();
  } catch (e) {}
  </script>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  {{ include_css("custom/page/web_page_basic/style.css") }}
  <!--[if lt IE 9]>
            <script src="http://cdn2.hubspot.net/hub/246826/file-2463517516-js/js/vendor/respond.min.js"></script> <script src="http://cdn2.hubspot.net/hub/246826/file-2469312557-js/js/vendor/selectivizr-min.js"></script>
        <![endif]-->
  <script src="//cdn2.hubspot.net/hub/246826/file-2469478994-js/js/vendor/modernizr.min.js"></script>
  {{ standard_header_includes }}
 
</head>

<body class="{{ builtin_body_classes }}">
  <div class="page-wrap">
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
