</section> <!-- End Site Content -->
<!--Site Footer-->
<footer class="site-footer" role="contentinfo">
    <div class="inner-wrap">
	{{ year }}
    </div>
    {% include "custom/pages/rpm/rpm-footer-copyright.html"%}
</footer>
   

<!--

-->