<div class="sf-small">
  <div class="inner-wrap">
    <hr style="border-color:#000">
    <p>&copy; {{ year }} {{ site_settings.company_name }} | Website by <a href="http://business.thomasnet.com">ThomasNet RPM</a> | <a href="//www.cgrproducts.com/sitemap/">Sitemap</a> | <a href="//www.cgrproducts.com/privacy-policy">Privacy Policy</a></p>
  </div>
</div>
<!--

-->
