<!--Site Header-->
<header class="hs-site-header" role="banner">
  <div class="inner-wrap">
    <a href="//www.cgrproducts.com" class="hs-site-logo"><img src="//cdn2.hubspot.net/hubfs/497415/site-logo.jpg" alt="Site Logo"></a>
    <a class="hs-sh-ph" href="tel:877.313.6785">877.313.6785</a>
    <hr class="hs-line">
    <!--Site Nav END-->
  </div>
  <!--inner-wrap END-->
</header>
<section class="site-content" role="main">
  <!--

-->
