<!--Site Header-->
<header class="site-header" role="banner">
  <div class="site-utility-nav">
    <div class="inner-wrap">
      <div class="social-wrap tablet">
        <a href="https://www.facebook.com/SwiftGlassCompany" target="_blank"><img src="//cdn2.hubspot.net/hub/497415/img/ico-facebook.svg" alt="Facebook"></a>
        <a href="https://www.linkedin.com/company/9452449" target="_blank"><img src="//cdn2.hubspot.net/hub/497415/img/ico-linkedin.svg" alt="Linked In"></a>
        <a href="https://twitter.com/swiftglassco" target="_blank"><img src="//cdn2.hubspot.net/hub/497415/img/ico-twitter.svg" alt="Twitter"></a>
        <a href="#" target="_blank"><img src="//cdn2.hubspot.net/hub/497415/img/ico-googleplus.svg" alt="Google Plus"></a>
        <a href="/blog" target="_blank"><img src="//cdn2.hubspot.net/hub/497415/img/ico-blog.svg" alt="Blog"></a>
      </div>
      <a href="mailto:#" class="sun-item sh-email"></a>
      <a href="#" class="sun-item sun-rfq">Request Quote</a>
      <a href="tel:" class="sun-item sh-ph">607.733.7166</a>
      <a href="#" class="sun-item" target="_blank">Contact Us</a>
      <a href="#" class="sun-item">Online Catalog</a>
      <span class="sh-icons">
          <a href="#menu" class="sh-ico-menu menu-link"><span>Menu</span></a>
      </span>
    </div>
  </div>
  <div class="inner-wrap">
    <a href="//www.cgrproducts.com" class="site-logo"><img src="//cdn2.hubspot.net/hubfs/497415/site-logo.jpg" alt="Site Logo"></a>
    <!--Site Nav-->
    <div class="site-nav-container">
      <div class="snc-header">
        <a href="" class="close-menu menu-link">Close</a>
      </div>
      <nav class="site-nav" role="navigation">
        <ul class="sn-level-1">
          <li class="sn-li-l1">
            <a href="#"><span>Materials</span></a>
          </li>
          <li class="sn-li-l1">
            <a href="#"><span>Capabilities</span></a>
          </li>
          <li class="sn-li-l1 menu-item-has-children">
            <a href="#"><span>Quality</span></a>
            <ul class="sn-level-2">
              <li class="sn-li-l2">
                <a href="#"><span>Menu Sub Item</span></a>
              </li>
            </ul>
          </li>
          <li class="sn-li-l1">
            <a href="#"><span>Resources</span></a>
          </li>
          <li class="sn-li-l1 menu-item-has-children">
            <a href="#"><span>Case Studies</span></a>
            <ul class="sn-level-2">
              <li class="sn-li-l2">
                <a href="#"><span>Menu Sub Item</span></a>
              </li>
            </ul>
          </li>
          <li class="sn-li-l1">
            <a href="#"><span>About Us</span></a>
          </li>
        </ul>
      </nav>
      <a class="sh-ico-search search-link" target="_blank" href="#"><span>Search</span></a>
    </div>
    <a href="" class="site-nav-container-screen menu-link">&nbsp;</a>
    <!--Site Nav END-->
  </div>
  <!--inner-wrap END-->
</header>
<!--Site Content-->
<section class="site-content-wrap" role="main">
  <!--

-->
