/* @import url('http://example.com/example_style.css'); */
@import url(//fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Lato:400,300,900,700);
@font-face {
    font-family: "archivo_narrowregular";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn2.hubspot.net/hubfs/497415/font/archivonarrow-regular.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/497415/font/archivonarrow-regular.woff") format("woff"), 
    url("//cdn2.hubspot.net/hubfs/497415/font/archivonarrow-regular.ttf") format("truetype");
}
/**
 * CSS @imports must be at the top of the file.      
 * Add them above this section.                             
 */



/* ==========================================================================
   HS COS Boilerplate v1.5.0                                
   ========================================================================== */

/* This responsive framework is required for all styles. */
{% include "hubspot/styles/responsive/required_base.css" %}
{% include "custom/page/CGRProducts-July2015-theme/CGRProducts-July2015-modules.css" %}

/* These includes are optional, but helpful. */
{% include "hubspot/styles/patches/recommended.css" %} 





/* ==========================================================================

   Index:         

  1. BASE STYLES   
    - Variables
    - Macros
    - Base
    - Typography

  2. COS STRUCTURE
    - Structure
    - Header
    - Content
    - Footer

  3. MAIN NAVIGATION
    - Custom Menu Primary
    - Mobile Menu

  4. TEMPLATE MODULE CLASSES
    - Common Template Classes
    - Site Pages
    - Landing Pages
    - System Pages

  5. COS COMPONENTS
    - Blog
    - Forms
    - Buttons

  6. MISCELLANOUS

  7. MOBILE MEDIA QUERIES

   ========================================================================== */








/* ==========================================================================


   1. BASE STYLES                                             


   ========================================================================== */





/* ==========================================================================
   Variables                                               
   ========================================================================== */


/**
 * Find the most consistently used font styles, colors, and container widths 
 * for your site and assign them to the jinja variables below for easy use 
 * and reference. 
 *
 * Apply the variable as shown below.  Ignore the jingja comment tags.
 *
 * {#  property: {{ variableName }};  #}
 */

/* Colors */
{% set baseColor      = "#454545" %}    /* {# Dark Gray  |  Used on 'body' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set linkColor      = "#2876bf" %}    /* {# Gray  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkColor }};" #} */
{% set linkHover      = "#113e77" %}    /* {# Black  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkHover }};" #} */
{% set accentColor1   = "#666" %}    /* {# Medium Gray  |  Ex. "color: {{ accentColor1 }};" #} */
{% set accentColor2   = "#ccc" %}    /* {# Light Gray  |  Ex. "color: {{ accentColor2 }};" #} */
{% set accentColor3   = "#ddd" %}    /* {# Lightest Gray  |  Ex. "color: {{ accentColor3 }};" #} */

/* Typography */
{% set baseFontFamily    = "Archivo Narrow, Arial, Sans-Serif" %}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set baseFontSize      = "16px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight    = "20px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */
{% set webFont1          = "Helvetica, Arial, Sans-serif" %} /* {# Ex. "font-family: {{ webFont1 }};" #} */

/* Containers */
{% set maxWidth = "940px" %} /* Used on '.page-center' in 'Base' and in the 'Portrait tablet to landscape and desktop' media query */




/* ==========================================================================
   Macros                                                  
   ========================================================================== */


/** 
  * Create jinja macros for CSS3 properties that need browser prefixes.
  *
  * Apply the style as shown below on it's own CSS property line.  
  * Ignore the jinja comment tags. 
  *
  * {#  {{ variableName("values") }}  #}
  */

{% macro transition(value) -%} 
  -webkit-transition: {{ value }};
  -moz-transition: {{ value }};
  -o-transition: {{ value }};
  -ms-transition: {{ value }};
  transition: {{ value }};
{%- endmacro %} 

{% macro borderRadius(value) -%} 
   -webkit-border-radius: {{ value }};
   -moz-border-radius: {{ value }};
   -o-border-radius: {{ value }};
   -ms-border-radius: {{ value }};
   border-radius: {{ value }};
{%- endmacro %}

{% macro boxShadow(value) -%} 
   -webkit-box-shadow: {{ value }};
   -moz-box-shadow: {{ value }};
   -o-box-shadow: {{ value }};
   -ms-box-shadow: {{ value }};
   box-shadow: {{ value }};
{%- endmacro %}


{% macro textShadow(value) -%} 
   -webkit-text-shadow: {{ value }};
   -moz-text-shadow: {{ value }};
   -o-text-shadow: {{ value }};
   -ms-text-shadow: {{ value }};
   text-shadow: {{ value }};
{%- endmacro %}

/** 
  * Example of how to apply the above macro (ignore the jinja comment tags):
  *
  * a {
  *   color: red;
  *   font-size: 12px;
  *   {#  {{ transition("all .2s linear") }}  #} 
  * }
  */




/* ==========================================================================
   Base                                                    
   ========================================================================== */


/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
} 

/* Website background color and default font styles */
body {
  background: #fff;
  color: {{ baseColor }};
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
  line-height: {{ baseLineHeight }};
}

/**
 * Page Center
 *
 * Apply .page-center to full-width modules.
 */

.container-fluid .row-fluid .page-center {
  float: none;
  max-width: {{ maxWidth }};
  margin: 0 auto;
}

a { color: {{ linkColor }}; 
    text-decoration:none;
}
a:hover, a:focus { color: {{ linkHover }};
    text-decoration: underline;}

hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background:#3399ff;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #3399ff;
  text-shadow: none;
}

/* Corrects width issues in table elements created via the wysiwyg editor */
table tr td img {
    max-width: initial;
}



/* ==========================================================================
   Typography
   ========================================================================== */


/* Basic text */
p {} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {
    background: rgba(0, 0, 0, 0) url("http://cdn2.hubspot.net/hubfs/497415/images/heading-strip.jpg") repeat-x scroll left 10px;
    color: #113e77;
    font-family: "archivo_narrowregular";
    font-size: 36px;
    line-height: 43px;
    margin: 0;
    padding: 0 0 20px;
    text-transform: uppercase;
}
h1 span {
    background: #ffffff;
    display: inline-block;
    padding: 0 21px 0 0;
    
}
h2 {
    color: #113e77;
    font-family: "archivo_narrowregular";
    font-size: 30px;
    margin: 0;
    line-height: 36px;
    padding: 10px 0;
    text-transform: uppercase;
}
h3 {
    color: #113e77;
    font-family: "archivo_narrowregular";
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
    line-height: 17px;
}
h6 {
    font-size: 0.67em;
    font-weight: bold;
    line-height: 14px;
}

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

ul.unstyled, ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Quotes */
blockquote {}
blockquote p {}
blockquote small {}
blockquote small:before {}

q:before, q:after, blockquote:before, blockquote:after {}








/* ==========================================================================


   2. COS STRUCTURE                                            


   ========================================================================== */





/* ==========================================================================
   Structure                                               
   ========================================================================== */


/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}




/* ==========================================================================
   Header
   ========================================================================== */


.header-container-wrapper {}
.header-container {}
.custom-header-bg{
    background:#D9D9D9;
    border-bottom: 1px solid #c9c9c9;
}
.custom-social p{
    display:inline-block;
    color: #2876bf;
    font-family: Archivo Narrow;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 2px 0;
    -webkit-margin-before: 4px;
}
.custom-social p span {
    color: #8f8f8f;
    font-size: 18px;
    font-weight: normal;
}
.custom-social p img {
    margin: 5px 0 0 8px;
    -webkit-margin-before: 6px;
    vertical-align: top;
}
.custom-social ul{
    margin: 0 0 0 12px;
    padding: 2px 0 3px 17px;
    display:inline-block;
    border-left: 1px solid #c1c1c1;
}
.custom-social ul li{
    display:inline-block;
    color: #8f8f8f;
    font-family: "archivo_narrowregular";
    font-size: 18px;
}
.custom-social ul li a img {
    margin: 1px 3.5px 0 1px;
    vertical-align: top;
    -webkit-margin-before: 2px;
}
.custom-search{
    text-align:right;
    padding: 4px 1px 2px;
}
.custom-search input[type="text"]{
    background: #ffffff;
    border: medium none;
    color: #797979;
    display: inline-block;
    font-family: Archivo Narrow;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    margin: 0 -4px 0 0;
    outline: medium none;
    padding: 2px 0 2px 8px;
    text-transform: uppercase;
    vertical-align: top;
    width: 168px;
}
.custom-search input[type="image"] {
    background: #ffffff;
    padding: 3px 0 0;
    vertical-align: top;
}
.custom-logo {
    padding: 18px 0;
}
.custom-banner{
    background:url(http://cdn2.hubspot.net/hubfs/497415/images/bg.png) repeat 0 0 / auto 100%;
}
.custom-banner p{
    color: #ffffff;
    font-family: "archivo_narrowregular";
    font-size: 20px;
    padding: 1px 0 2px;
    text-align: right;
    -webkit-padding-after: 3px;
    -webkit-padding-before: 0;
}
/* Logo styling */
.header-container .hs_cos_wrapper_type_logo {}
.header-container .hs_cos_wrapper_type_logo a {}
.header-container .hs_cos_wrapper_type_logo a img {}




/* ==========================================================================
   Content                                                 
   ========================================================================== */


.body-container-wrapper {}
.body-container {}
.body-container .page-center{
    padding:47px 0;
}


/* Unique Pages
   ========================================================================== */

/* Homepage */

/* Contact Us */

/* About Us */


/* Modular & Reusable Components
   ========================================================================== */

/* Callouts */

/* Social Media Custom Icons */

/* Additional Menus aside from the Main Nav */




/* ==========================================================================
   Footer
   ========================================================================== */


.footer-container-wrapper {}
.footer-container {
    background: url("http://cdn2.hubspot.net/hubfs/497415/images/footer-bg.jpg") repeat-x scroll left top;
    color: #e6e6e6;
    font-family: Archivo Narrow;
    font-size: 14px;
}
.custom-footer-logo{
    text-align:center;
    padding: 0 0 1px;
    border-bottom: 1px solid #888888;
}
.custom-footer-bg{
    background:#C1C1C1;
    margin:0 0 -1px;
}
.custom-footer-links ul{
    margin: 19px 0 0;
    padding:0;
    border-top: 1px solid #888888;
    text-align:center;
}
.custom-footer-links ul li{
    display:inline-block;
    color: #e6e6e6;
    font-family: Archivo Narrow;
    font-size: 14px;
    margin:16px 6.2px 19px;
}
.custom-footer-links ul li a{
    color: #2876bf;
}
.custom-copyright p{
    color: #454545;
    font-family: Archivo Narrow;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    padding:7px 3px 7px 0;
}
.custom-copyright p span {
    margin: 0 13px;
}
.custom-copyright p a, .custom-copyright p a:hover{
    color: #797979;
}
.custom-footer-add{
    padding:9px 0 0 1px;
}
.custom-footer-add address, .custom-footer-add1 address, .custom-footer-add2 address {
    font-style: normal;
    line-height:18px;
}
.custom-footer-add address strong, .custom-footer-add1 address strong, .custom-footer-add2 address strong {
    color: #2876bf;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 8px 0;
}
.custom-footer-add1{
    text-align:center;
    padding:9px 0 0 3px;
}
.custom-footer-add address span {
    margin: 0 0 0 7px;
}
.custom-footer-add2{
    text-align:right;
    padding:9px 1px 0 0;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul{
    background: #113e77;
    padding: 9px 0 20px;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul li a{
    border-bottom: 1px solid #184f8d;
    color: #ffffff;
    display: block;
    font-family: Archivo Narrow;
    font-size: 16px;
    padding: 10px 11px 11px;
    text-decoration: none;
}
.hs-menu-wrapper.hs-menu-flow-vertical > ul > li.hs-item-has-children > a{
    background: rgba(0, 0, 0, 0) url("http://cdn2.hubspot.net/hubfs/497415/images/banner-arrow.png") no-repeat right 16px center;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul li.hs-item-has-children:hover >  a{
    background: #2876bf url("http://cdn2.hubspot.net/hubfs/497415/images/banner-arrow.png") no-repeat scroll right 16px center;
}
.hs-menu-wrapper.hs-menu-flow-vertical  ul li:hover > a {
    background: #2876bf;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul ul{ 
    padding:0;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul ul li{ 
    min-width: 180px;
}
.hs-menu-wrapper.hs-menu-flow-vertical ul ul li a{
    white-space: normal !important;
} 


/* ==========================================================================


   3. MAIN NAVIGATION                                            


   ========================================================================== */





/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "" %} /* Set ul background color */
{% set liColor       = "" %} /* Set li background Color */
{% set aColor        = "#2876bf" %} /* Set link Color */
{% set aColorHover   = "#2a2829" %} /* Set link Hover Color */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{ 
  background:{{ ulColor }};
  float:right;
  -webkit-padding-before: 56px;
  padding: 57px 0 0;
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li.hs-item-has-children > a{
    background: url("http://cdn2.hubspot.net/hubfs/497415/images/topnav-arw.jpg") no-repeat scroll right 3px;
    padding: 0 15px 14px 0;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
  color:{{ aColor }};
  font-family: Archivo Narrow;
  font-size: 18px;
  padding: 0 0 14px;
  margin:0 12px 7px 8px;
}
.custom-menu-primary .hs-menu-wrapper > ul > li:last-child > a {
    color: #113e77;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
    text-decoration:none;
}
.custom-menu-primary .hs-menu-wrapper > ul > li:hover > a{
  color:{{ aColorHover }};
  border-bottom: 3px solid #272526;
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{
    background: #ffffff;
    margin:0 0 0 -25px;
    padding: 2px 0 23px 20px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
  background:{{ liColor }};
  min-width: 192px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
  font-family: Archivo Narrow;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 0 3px 16px;
  color:{{ aColorHover }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
  color:{{ aColor }};
  background: rgba(0, 0, 0, 0) url("http://cdn2.hubspot.net/hubfs/497415/images/topnav-arrow.jpg") no-repeat scroll 0 10px;
  text-decoration: none;
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
      .custom-menu-primary .hs-menu-wrapper { 
          display:block !important;
      }
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 767px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#fff" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#2876bf" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#2a2829" %} /* Set Link Hover Color */

  /* 
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any 
    * additional CSS you want removed from the mobile menu in this reset 
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 10px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid #2876bf;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: {{ menuColorMobile }}; 
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    
  }


  /* Toggle Button Icon
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color:#2876bf; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 6px; /* Position bottom line */
  }
  
  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: {{ aColorHoverMobile }}; /* Icon color */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    background: rgba(0, 0, 0, 0) url("http://cdn2.hubspot.net/hubfs/497415/images/topnav-arw.jpg") no-repeat scroll center center;
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:{{ aColorMobile }}; /* Icon color */
    display:none;
  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li:hover .child-trigger i,
  .custom-menu-primary .hs-menu-wrapper > ul > li:hover .child-trigger i:after{
     background:#2a2829; 
}
    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  
     
   .custom-menu-primary.js-enabled{
       position: relative;
       padding-top: 44px; /* Makes room for button */
       margin: 0;
   }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }

   /* Level 1 Menu List Styles */
   .custom-menu-primary .hs-menu-wrapper > ul {
    margin: 0 !important;
   }
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    margin: 0 !important;
    padding: 0 10px !important;
    border-bottom: 3px solid transparent;
    color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    font-size: 16px; /* Font size of child lists */
    padding:10px 25px !important;
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a:hover {
    background: rgba(0, 0, 0, 0) url("http://cdn2.hubspot.net/hubfs/497415/images/topnav-arrow.jpg") no-repeat scroll 5px 15px;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li.hs-item-has-children > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}








/* ==========================================================================


   4. TEMPLATE MODULE SELECTORS                                         


   ========================================================================== */





/* Common Template Selectors                                             
   ========================================================================== */

body.one-column {}
body.two-column {}
body.three-column {}
.content-wrapper {}
.main-content {}
.sidebar{}
.sidebar.right{
    border-left: 1px solid #d9d9d9;
    padding: 0 0 0 10px;
}
.sidebar.left{}

/* Common One Column Selectors */
body.site-page.one-column, 
body.landing-page.one-column, 
body.error-template.one-column, 
body.password-template.one-column, 
body.subscription-template.one-column {}

body.site-page.one-column .main-content, 
body.landing-page.one-column .main-content, 
body.error-template .main-content, 
body.password-template .main-content, 
body.subscription-template .main-content {}

/* Common Two Column Selectors */
body.site-page.two-column, 
body.landing-page.two-column, 
body.blog {}  

body.site-page.two-column .main-content, 
body.landing-page.two-column .main-content, 
body.blog .blog-content {}

/* Common Three Column Selectors */
body.site-page.three-column, 
body.landing-page.three-column {}

body.site-page.three-column .main-content, 
body.landing-page.three-column .main-content {}


/* Site Pages                                            
   ========================================================================== */

/* One Column Template */
body.site-page.one-column {}
body.site-page.one-column .content-wrapper {}
body.site-page.one-column .main-content {}

/* Two Column Template */
body.site-page.two-column {}
body.site-page.two-column .content-wrapper {}
body.site-page.two-column .main-content {}
body.site-page.two-column .sidebar.right {}

/* Three Column Template */
body.site-page.three-column {}
body.site-page.three-column .content-wrapper {}
body.site-page.three-column .main-content {}


/* Landing Pages                                           
   ========================================================================== */

/* One Column Template */
body.landing-page.one-column {}
body.landing-page.one-column .content-wrapper {}
body.landing-page.one-column .main-content {}

/* Two Column Template */
body.landing-page.two-column {}
body.landing-page.two-column .content-wrapper {}
body.landing-page.two-column .main-content {}
body.landing-page.two-column .sidebar.right {}

/* Three Column Template */
body.landing-page.three-column {}
body.landing-page.three-column .content-wrapper {}
body.landing-page.three-column .main-content {}


/* System Pages                                          
   ========================================================================== */

/* Error Templates 404, 500 */
body.error-template.one-column {}
body.error-template.one-column .content-wrapper {}
body.error-template.one-column .main-content {}

/* Password template */
body.password-template.one-column {}
body.password-template.one-column .content-wrapper {}
body.password-template.one-column .main-content {}

/* Email Subscribition templates */
body.subscription-template.one-column {}
body.subscription-template.one-column .content-wrapper {}
body.subscription-template.one-column .main-content {}








/* ==========================================================================


   5. COS COMPONENTS                                        


   ========================================================================== */





/* ==========================================================================
   Blog                                         
   ========================================================================== */


/* Blog Post and Listing Body Class */
body.blog {
    font-family: Lato,sans-serif;
    font-weight:300;
}

/* Blog Post */
body.hs-blog-post {}

/* Blog Listing */
body.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}


/* Blog Content Column
   ========================================================================== */

.blog .blog-content {
    border-right: 1px solid #d9d9d9;
    padding:0 10px 0 0;
}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 {}
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 {
    font-size: 33px;
    font-weight: 300;
    line-height: 1.09091;
    margin: 0 0 12px;
    padding:0;
    text-transform: uppercase;
}
.post-header h2 a {
    color: #2b2b2b;
}

/* Blog Author and Avatar */
#hubspot-author_data {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33333;
    text-transform: uppercase;
}
#hubspot-author_data a.author-link {
    color: #767676;
}
#hubspot-author_data a.author-link:hover{
    color: #22d5e2;
}
#hubspot-author_data .hs-author-avatar {}
#hubspot-author_data .hs-author-avatar img {}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 48px;
    margin: 0 auto 48px;
}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-height: 170px;
  max-width: 210px;
  height: auto;
  width: auto;
  display: inline-block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}
#hubspot-topic_data a.topic-link:before {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #767676;
    border-top: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    left: -8px;
    position: absolute;
    top: 0;
    width: 0;
}
#hubspot-topic_data a.topic-link:after {
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
    height: 4px;
    left: -2px;
    position: absolute;
    top: 8px;
    width: 4px;
}
#hubspot-topic_data a.topic-link:hover::before {
    border-right-color: #22d5e2;
}
#hubspot-topic_data a.topic-link:hover {
    background-color: #22d5e2;
    color: #ffffff;
}
#hubspot-topic_data a.topic-link {
    background-color: #767676;
    {{ borderRadius("0 2px 2px 0") }}
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.27273;
    margin: 2px 4px 2px 10px;
    padding: 3px 7px;
    position: relative;
    text-transform: uppercase;
}
/** 
 * Blog Social Sharing icons
 *
 * Overrides defaults to better align icons and prevent overlapping 
 */

#comments-listing {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 30px;
}

.comment.depth-0 {
    border-bottom: 1px solid #000 !important;
    border-top: medium none !important;
    margin: 0 10px 10px !important;
    padding: 0 15px !important;
}
.comment-body {
    border-bottom: medium none;
    color: {{ baseColor }};
    display: block;
    font-family: {{ baseFontFamily }};
    font-size: {{ baseFontSize }};
    line-height: {{ baseLineHeight }};
    padding: 0;
}

.comment-reply-to{
    margin-bottom: 15px;
}

.comment-from h4 {
    margin: 0;
    padding-top: 15px;
}

.comment-date {
    color: {{ baseColor }} !important;
    display: block !important;
    text-align: left;
}

/* -------------------- Ends ----------- */

/* -------------- Default Code for Author Bio ------------ */

#hubspot-author_data .hs-author-avatar {
    max-width: 70px;
    padding: 10px 10px 10px 0;
}

#hubspot-author_data .hs-author-avatar img {
    height: auto !important;
    max-width: 100%;
}

.hs-blog-social-share {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    height: auto;
    margin-top: 10px;
    padding: 10px 0 0;
}

.custom_listing_comments{
   border: 1px solid #E2E2E2;
   display: block;
   line-height: 165%;
   padding: 15px;
   font-size: 16px;
   line-height:26.4px;
}


/* Pagination */
.blog-pagination {
    text-align: center;
    border-top: 5px solid #000000;
    margin: 48px 0;
}
.blog-pagination a {}
.blog-pagination a.previous-posts-link {}
.blog-pagination a.all-posts-link {}
.blog-pagination a.next-posts-link {}

/** 
 * Blog Author Page 
 *
 * ALWAYS be sure to set styles to these selectors, as the COS does not provide default styles
 */

.hs-author-profile {}
.hs-author-profile h2.hs-author-name {}
.hs-author-profile .hs-author-bio {}
.hs-author-profile .hs-author-avatar {}
.hs-author-profile .hs-author-avatar img {}
h3.hs-author-listing-header {}

/** 
 * Blog All Posts Page
 *
 * ALWAYS be sure to set styles to these selectors, as the COS does not provide default styles
 */

body.hs-content-path-blog-all {}
div.post-listing-simple {}
div.post-listing-simple .post-item {}
h2.post-listing-simple {}
h2.post-listing-simple a {}


/* Blog Sidebar
   ========================================================================== */

.blog .blog-sidebar {
    background:#113E77;
    color:#fff;
    padding: 0 30px;
}
.blog .blog-sidebar .cell-wrapper{
    margin:0 0 48px;
}
.blog .blog-sidebar h2{
    color:#fff;
}
.blog .blog-sidebar h3,
.blog .blog-sidebar h3.form-title{
    font-size: 11px;
    font-weight: 900;
    line-height: 1.63636;
    margin:0 0 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.blog .blog-sidebar ul{
    margin:0;
    padding:0;
    list-style:none;
}
.blog .blog-sidebar ul li a{
    color: #ffffff;
    margin:0 0 6px;
    font-size:12px;
    line-height:18px;
}
.blog .blog-sidebar ul li a:hover{
    color: #22d5e2;
    text-decoration:none;
}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}




/* ==========================================================================
   Forms
   ========================================================================== */


/* All Global Forms
   ========================================================================== */
.custom-form{
    width:50% !important
}

form ul{
	list-style:none !important;
}
/* Form Field */
body .hs-form-field {}

/* Descriptions */
body .hs-field-desc {}

/* Labels */
body label {}
body .hs-form-field > label {
    display: inline-block;
    padding: 5px;
}
 .widget-type-email_simple_subscription h1,
 .widget-type-email_subscriptions h1{
  font-size: 36px!important;
  line-height: 43px!important;
}

/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
  font-family:MS Shell Dlg, arial;
  font-size:13.3333px;
  color:#000;
  line-height:16px;
  margin:0 0 18px;
  padding:0;
}
#email-prefs-form .email-edit {
  padding:0!important;
  font-size: 13.3333px!important;
  line-height: 16px!important;
  margin: 0 0 18px!important;
}

body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {}

/* Separate Styles for Multiple Line Inputs */
body textarea {}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}


/* Google Search Form
   ========================================================================== */

/* Label */
.widget-type-google_search label {
    display: inline-block;
    padding: 5px;
}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  body form.hs-form fieldset .hs-form-field { padding: 0; }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}




/* ==========================================================================
   Buttons                                              
   ========================================================================== */


/* All Global Buttons (Excluding CTAs)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
    cursor: pointer;
    -webkit-appearance: none;
    font-family:MS Shell Dlg, arial;
    font-size:13.3333px;
    color:#000;
    line-height:16px;
    text-decoration: none !important;
    display:inline-block;
    margin:0 0 24px;
    padding: 5px;
    text-align:center;
    border:1px solid #acacac;
    background: rgb(240,240,240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


}
body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
    border:1px solid #7eb4ea;
    background: rgb(236,244,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236,244,252,1) 0%, rgba(220,236,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,244,252,1)), color-stop(100%,rgba(220,236,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(236,244,252,1) 0%,rgba(220,236,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(236,244,252,1) 0%,rgba(220,236,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(236,244,252,1) 0%,rgba(220,236,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(236,244,252,1) 0%,rgba(220,236,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf4fc', endColorstr='#dcecfc',GradientType=0 ); /* IE6-9 */

}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}


/* Form Module Button
   ========================================================================== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* Blog Comment Button
   ========================================================================== */
#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* Blog Subscription Button
   ========================================================================== */
#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* Google Search Button
   ========================================================================== */
.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* CTA Buttons
   ========================================================================== */

/** 
 * Override global CTA styles by wrapping the CTA module in a module group 
 * that has an ID, and use that ID to prefix your CTA selector. Example shown below.
 *
 * All overriding properties require !important tags. 
*/
#module-group-ID .cta_button {}
#module-group-ID .cta_button:hover {}
#module-group-ID .cta_button:focus {}








/* ==========================================================================


   6. MISCELLANOUS                                        


   ========================================================================== */





/** 
 * Styles that do not fit into available sections above can go here.
 * For example, one would place 3rd party plugin overriding styles here.
 *
 * This section is NOT for 'Custom' styles.  All custom styles must go in the
 * proper sections above.
 *
 * For instance, custom header and footer styles must go in the HEADER and 
 * FOOTER sections.  Custom styles for anything in-between the header and footer 
 * (such as, styles that are unique to the HOMEPAGE only), must go in the 
 * CONTENT section.
*/ 








/* ==========================================================================


   7. MOBILE MEDIA QUERIES                              


   ========================================================================== */



   

/* Screen sizes smaller than site maxWidth (.page-center)
   ========================================================================== */

@media (max-width: {{maxWidth}}) {}
@media (max-width:1366px) {
    .custom-search input[type="text"] {
      margin: 0 -3px 0 0;
    }
    }
@media (max-width:960px) {
    .header-container .page-center,
    .footer-container .page-center{
      padding: 0 15px;
    }
    .body-container .page-center {
      padding: 47px 15px;
    }
    .custom-social ul {
      margin: 0 -32px 0 12px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a {
      margin: 0 5px 7px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul {
      margin: 0 0 0 -31px;
    }
    }

/* Landscape tablet and smaller devices
   ========================================================================== */

@media (max-width: 767px) {
    .custom-form{
      width:100% !important;	
    }
    .custom-social p {
      display: block;
      margin: 10px 0;
    }
    .custom-social ul {
      border: medium none;
      margin: 0;
      padding: 0;
    }
    .custom-social {
      text-align: center;
    }
    .custom-search {
      padding: 10px 0;
      text-align: center;
    }
    .custom-logo {
      text-align: center;
    }
    .custom-banner p {
      text-align: center;
    }
    .custom-footer-add, .custom-footer-add1, .custom-footer-add2 {
      padding:10px 0;
      text-align: center;
    }
    .footer-container {
     background: #2e2e2e url("http://cdn2.hubspot.net/hubfs/497415/images/bg-footer.png") repeat scroll left top;
    }
    .blog .blog-sidebar {
      margin:30px 0 0;
    }
    .sidebar.right{
      border-left:none;
      padding: 0;
    }
    .blog .blog-content {
      border-left:none;
      padding: 0;
    }
    }
     

/* Landscape phones and smaller devices
   ========================================================================== */

@media (max-width: 479px) {}
