.author-bio{
	text-align: center;	
	margin-bottom: em(20);	
			figure{
			 @include span-columns(12 of 12);
			      	}
		    div{
		     	 @include span-columns(12 of 12);
		     	 h3{
		     	 	margin: 0;
		     	 	img{
		     	 		vertical-align: middle;
		     	 	}
		     	 }
			     p{
			     	margin: 5px 0 21px;
			     }
		     }
	
	@include mq(medium){
		text-align: left;
		figure{
				 @include span-columns(1.5 of 12);
		     	}
		     div{
		     	 @include span-columns(10 of 12);
		     
		     }
			}	
}

.post-featured-image {
	margin-top: 1.75em;
}