%button {
  position:relative;
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none !important;
  border-radius:5px;
  @include transition(all .3s ease-in-out);
  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn,
.btn-invert,
.aside-nav .menu-item a
 {
  @extend %button;
}

.btn, .aside-nav .menu-item a:hover {
  border:solid 1px darken($blue, 10%);
}
.btn:hover{
  border:solid 1px darken($blue, 60%);
}

.btn-invert, .aside-nav .menu-item a {
  background-color:transparent;
  color:$blue;
  border:solid 1px $blue;
}

.btn-invert:hover{
  background-color: #fff;
  color:$blue;
}
    .btn-contact, .btn-rfq{
      background-position: left 20px center;
      background-color: $orange;
      font-size: $base-font-size;
      background-repeat: no-repeat;
      padding-left: em(60);
      font-weight: normal;
      border:solid 1px #c48d4c;
      font-family: $opensans;
     display: inline-block;
      @include mq(medium) {
         padding-left: em(50);
       font-size: $medium-font-size;
       }
       &:active, &:focus {
        color: $white;
      }
    }
    .btn-contact{
      background-image:url('img/ico-person.png'); 

      }
    .btn-rfq {
      background-image:url('img/ico-checkmark.png');
           }
           
           
.btn-important {
	@extend .btn;
	 background-color: $orange;
	 border:solid 1px darken($orange,10%);
	 &:hover {
		 background-color:darken($orange,5%);
		 border:solid 1px darken($orange,10%);
	 }
}