.site-wrap {
    background: $white;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}


/*=============== Site Header ===============*/

.site-header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    .inner-wrap {
        padding: 1.25em;
    }
}

.site-logo,
.site-logo img,
.hs-site-logo,
.hs-site-logo img {
    display: block;
    margin: auto;
}

.site-logo {
    @include mq(large) {
        @include span-columns(3 of 12);
        img {
            display: inline-block;
        }
    }
}

.hs-site-logo {
    @include mq(medium) {
        @include span-columns(3 of 12);
        img {
            display: inline-block;
        }
    }
}

.site-utility-nav {
    background-color: $light-gray;
    .social-wrap {
        width: 12.7em;
        display: none;
        margin-top: 2px;
    }
    .inner-wrap {
        position: relative;
        padding: .4em 1.5em .6em 1.5em;
    }
    @include mq(large) {
        text-align: right;
        .social-wrap {
            display: inline-block;
            float: left;
        }
        .inner-wrap {
            padding: .4em 16.5em .6em 1.5em;
        }
    }
}

.sh-email {
    display: none;
    @include mq(medium) {
        display: inline-block;
        background-image: url(img/ico-email.svg);
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-size: 25px;
        width: 1.5em;
        height: 1.325em;
        text-indent: -9999px;
    }
}

.site-search {}

//Site Header Icons
.sh-icons {
    float: right;
    @include mq(medium) {}
}

%sh-ico {
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    padding-top: 1.2em;
    width: 2em;
    margin-left: 1em;
    text-align: center; //background-color:red;
    span {
        font-size: .75em;
    }
    @include mq(medium) {
        //float:right;
    }
}

.sh-ph {
    display: block!important;
    margin: 0;
}

.sh-ico-search {
    @extend %sh-ico;
    text-indent: -9999px;
    display: none;
    background-image: url(img/ico-search.svg);
    background-position: 0 5px;
    padding-top: 9px;
    background-size: 25px;
    @include mq(large) {
        display: inline-block;
    }
}

.sh-ico-menu {
    @extend %sh-ico;
    background-image: url(img/ico-nav.svg);
    color: $black;
    @include mq(large) {
        display: none;
    }
}

.sun-item {
    color: $black;
    font-size: $small-font-size;
    display: block;
    float: left;
    display: none;
    @include mq(medium) {
        margin-right: em(15);
        float: right;
        display: block;
    }
    @include mq(large) {
        font-size: $base-font-size;
        margin-right: em(30);
    }
}
.sun-pay {
    @include mq(large) {
        right: 1.25em !important;
    }
}
.sun-rfq {
    display: none;
    @include mq(large) {
        display: block;
        margin-right: 0;
        position: absolute;
        right: 15.5em;
        top: 0;
        padding: em(8) em(10) em(10) em(10);
        color: $white;
        background-color: #f79225;
        font-weight: bold;
    }
}

.sun-rfq:hover {
    color: #fff;
    background-color: darken( #f79225, 10%);
}

.gdd-004-b-site-utility-nav {
    .sh-contact-us {
        display: none;
        @include mq(large) {
            display: block;
            margin-right: 0;
            position: absolute;
            right: 6.25em;
            top: 0;
            padding: em(8) em(10) em(10) em(50);
            color: $white;
            background-color: $dark-blue;
            font-weight: bold;
            &:hover {
                background-color: $blue;
            }
            &:before {
                position: absolute;
                content: "";
                background-image: url(img/email-speech-bubble.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: left center;
                left: em(12);
                top: em(4);
                width: 30px;
                height: 31px;
            }
        }
    }
    .sun-item.sh-blog {
        @include mq(large) {
            margin-right: em(169);
        }
    }
    .inner-wrap {
        @include mq(large) {
            padding-top: 3em;
        }
        @include mq(large) {
            padding-top: 0.4em;
        }
    }
    .sun-item {
        @include mq(medium) {
            margin-right: em(7);
        }
        @include mq(large) {
            margin-right: em(30);
        }
    }
}


/*=============== Site Intro ===============*/

.site-intro {
    //background-image: url(img/intro-bg.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
    .inner-wrap {
        padding: 0;
    }
    @include mq(large){
        height: 35em;
    }
}


.si-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280%;
    margin: auto;
    @include mq(large) {
      width: 105%;
    }
  }
  @include mq(large) {
    display: block;
  }
}


.sivideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .svm-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -65%;
    z-index: 1;

    margin: auto;

    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}
                                                            
.si-content-container {
    position: relative; 
    background-color: rgba(45, 40, 40, 0.6);
    color: $white;
    @include mq(large) {
        margin-right: 0;
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        height: 35em;
    }
}

.si-content {
    padding: 1.25em;
    @include mq(large) {
        padding: 4em 5em 5em 5em;
        /*margin-right: 2.5em;*/
        /*max-width: 800px;*/
        margin: 0 auto;
        height: 490px;
    }
}

.si-title {
    font-weight: 400;
    margin-bottom: 0em;
    line-height: 47px;
    @include mq(medium) {
        margin-bottom: 32px;
        line-height: 62px;
     
    }
      @include mq(large) {
        font-size:em(60) 
    }
}

.si-desc {
    margin-bottom: .5em;
    @include mq(medium) {
        margin-bottom: 2em;
    }
    @include mq(large) {
        font-size:em(27) !important; 
    }
}

.si-desc,
.si-cta-desc {
    font-size: $small-font-size;
    @include mq(medium) {
        font-size: $medium-font-size;
    }
}

.si-cta {
    display: inline-block;
    padding-right: 70px;
    background-repeat: no-repeat;
    background-position: right;
    font-size: $medium-font-size;
    margin-bottom: 1.25em;
    background-color: #f79225;
    color: #fff;
    padding: 0.55em 1em;
    border-radius: 5px;
    width: 75%;
    span {
        font-weight: normal;
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }
    @include mq(medium) {
        @include span-columns(6 of 12);
    }
}
 .si-cta:hover {
    background-color: #e17908;
    color: #fff;
  
}

.si-button{
    max-width: 600px;
    margin-top: 40px;
    @include mq(large){
        text-align:center;
        margin:0 auto;  
    }
}

.si-cta-1 {
    /*background-image: url("img/materials-img.svg");*/
    background-size: contain;
    z-index: 99999;
}

.si-cta-2 {
    /*background-image: url("img/capabilities-img.svg");
    z-index: 99999;
    background-size: contain;*/
    text-align: center;
    float: none;
display: inline-block;

}


/*=============== Capabilities Section ===============*/

.capabilities-section {
    background-image: url("img/capabilities-bg.jpg");
    background-size: cover;
    .inner-wrap {
        padding-bottom: 0;
    }
}

.cs-title {
    text-align: center;
    color: $white;
    margin-bottom: 1.25em;
    font-weight: bold;
}

.cs-title-detail {
    font-size: 22px;
    display: block;
    font-weight: normal;
}

.cs-bucket {
    display: block;
    text-align: center;
    color: $white;
    background-color: rgba(44, 117, 186, .8);
    border-radius: 5px;
    border: solid 1px darken($blue, 40%);
    margin-bottom: .875em; // background-image: url("img/materials-img.svg");
    // background-position: 300px 0px;
    // background-repeat: no-repeat;
    @include transition(all .5s ease-in-out);
    @include mq(medium) {
        padding: 1em 1.25em;
    }
    @include mq(large) {
        @include span-columns(4 of 20);
        min-height: 198px;
    }
}

.cs-bucket:hover {
    background-color: darken($blue, 15%);
    color: $white; // background-position: bottom right;
}

.cs-bucket-title {
    font-size: $base-font-size;
    font-weight: bold;
    @include mq(medium) {
        font-size: $medium-font-size;
        ;
    }
}

.cs-bucket-desc {
    display: none;
    @include mq(medium) {
        display: block;
    }
}


/*=============== Offer Section ===============*/

.offer-section {
    background-color: $light-gray;
}

.offer-section-left {
    border-bottom: solid 1px $white;
    padding-bottom: 2em;
    margin-bottom: 2em;
    @include mq(medium) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.offer-section-left,
.offer-section-right {
    @include span-columns(12 of 12);
    @include mq(medium) {
        @include span-columns(6 of 12);
    }
}

.os-image {
    width: 100%;
    img {
        display: none;
    }
    @include mq(medium) {
        img {
            display: block;
            margin: 0 auto em(10);
        }
    }
    @include mq(large) {
        @include span-columns(3 of 9);
    }
}

.os-rich-text {
    width: 100%;
    position: relative;
    @include mq(large) {
        @include span-columns(6 of 9);
    }
}

.os-title {
    color: $blue;
    margin-top: 0;
    font-weight: bold;
}

.os-category {
    color: $black;
    display: block;
}

.os-all-link {
    color: $black !important;
    text-align: right;
    margin-top: 2em;
    display: block;
    &:hover {
        text-decoration: underline;
    }
}


/*=============== Services Section ===============*/

.services-section {
    text-align: center;
    background-image: url("img/fabrication-bg.jpg");
    background-size: cover;
    a {
        background-color: rgba(44, 117, 186, .8);
        display: block;
        margin-bottom: .875em;
        text-decoration: none;
    }
    @include mq(medium) {
        a {
            @include span-columns(4 of 12);
            @include omega(3n);
            font-size: em(16, 18);
        }
    }
    @include mq(large) {
        a {
            @include omega-reset(3n);
            @include span-columns(3 of 12);
            @include omega(4n);
            font-size: em(18, 18);
        }
    }
    @include mq(xlarge) {
        a {
            @include omega-reset(4n);
            @include span-columns(2.4 of 12);
            @include omega(5n);
        }
    }
}

.services-material-section {
    text-align: center;
    background-image: url("img/fabrication-bg.jpg");
    background-size: cover;
    a {
        background-color: rgba(44, 117, 186, .8);
        display: block;
        margin-bottom: .875em;
        text-decoration: none;
    }
    @include mq(medium) {
        a {
            @include span-columns(6 of 12);
            @include omega(2n);
            font-size: em(16, 18);
        }
    }
    @include mq(large) {
        a {
            @include omega-reset(2n);
            @include span-columns(4 of 12);
            @include omega(3n);
            font-size: em(16, 18);
        }
    }
    @include mq(xlarge) {
        a {
            @include omega-reset(3n);
            display: inline-block;
            margin-right: .875em;
            float: none;
            font-size: em(18, 18);
            &:last-child {
                margin-right: 0;
            }
        }
    }
}


/*.services-section{
  text-align: center;
  background-image: url("img/fabrication-bg.jpg");
  background-size:cover;
  a{
    background-color: rgba(44,117,186, .8);
    display:block;
    margin-bottom:.875em; 
  }
  @include mq(medium){
    a{
      display: inline-block;
      margin-right:.875em; 
      &:last-child{
        margin-right: 0;
      }
    }
  }
  }*/

.ss-title {
    text-align: center;
    color: $white;
    margin-bottom: 1.25em;
    font-weight: bold;
}

.ss-title-detail {
    font-size: 22px;
    display: block;
    font-weight: normal
}


/*=============== Stay Connected Section ===============*/

.site-footer {
    background-color: $light-gray;
    text-align: left;
    @include mq(medium) {
        text-align: center;
    }
}

.f-bucket {
    width: 100%;
    margin-bottom: 1.5em;
    @include mq(medium) {
        @include span-columns(1 of 3);
    }
}

.f-icon {
    max-width: 3.5em;
    @include span-columns (3 of 12);
    @include mq(medium) {
        @include span-columns (12 of 12);
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
}

.f-content-group {
    @include span-columns(9 of 12);
    @include mq(medium) {
        @include span-columns (12 of 12);
    }
}

.f-desc {
    margin-top: 0;
    @include mq(medium) {
        margin: 1.25em 0;
    }
}

.sf-small {
    a:hover {
        text-decoration: underline;
    }
}


/*=============== Site Content ===============*/

.page .site-header hr,
.hs-site-header .hs-line {
    border-color: $black;
    margin-top: 1em;
    display: block;
    clear: both;
}

.home .site-header hr {
    display: none;
}

.page .inner-wrap.sh-logo-nav-wrap {
    padding-bottom: 0px;
}

.home .inner-wrap.sh-logo-nav-wrap {
    padding-bottom: 1.25em;
    @include mq(large) {
        padding-bottom: 0px;
    }
}

.page .site-nav-container {
    margin-bottom: 20px;
    z-index: 999999;
}

.scp-page-title {
    font-size: $large-font-size;
    font-weight: bold;
    color: #000;
    text-transform: normal;
    @include mq(medium) {
        font-size: $xlarge-font-size;
    }
}

.site-content-primary {
    @include span-columns(12 of 12);
    p:first-child {
        margin-top: 0;
    }
    h2 {
        font-weight: bold;
        font-size: $large-font-size;
    }
    h3 {
        font-weight: bold;
        font-size: $medium-font-size;
    }
    @include mq(medium) {
        @include span-columns(9 of 12);
    }
}

.emph {
    margin-bottom: 0;
    font-weight: bold;
    display: block;
}

.site-content-secondary {
    @include span-columns(12 of 12);
    @include mq(medium) {
        @include span-columns(3 of 12);
        @include omega; //needed for when additonal fullwidth content is introduced
    }
}

.additional-content {
    clear: both; //need to keep content from floating up under the secondary nav
    h2 {
        font-weight: bold;
        font-size: 1.625em;
    }
}

.scs-nav-title {
    margin-top: 0;
    font-weight: bold;
}

.aside-nav .menu-item,
.scs-nav-item a {
    margin-bottom: .5em;
    width: 100%;
    a {
        display: block;
    }
}

.cta-aside {
    margin-bottom: 1em;
}

.aside-nav .current-menu-item a {
    background-color: #2c75ba;
    color: $white !important;
    border: solid 1px $blue;
}

.scs-blog ul li {
    margin-bottom: .4em;
    padding-bottom: .4em;
    border-bottom: solid 1px #eee;
    &:last-child {
        border-bottom: none;
    }
}


/*===============  Resource Page ===============*/

.resource-bucket {
    width: 100%;
    margin-bottom: 2em;
    @include mq(medium) {
        @include span-columns(1 of 3);
    }
}

.resource-img {
    display: block;
    margin: auto;
}

.resource-download {
    display: block;
    text-align: center;
}

.resource-title {
    color: $blue;
    font-weight: normal!important;
}


/*===============  Hubspot Specific Styles ===============*/

.hs-site-header {
    .inner-wrap {
        padding-bottom: 0;
    }
}

.hs-site-logo {
    margin-bottom: .875em;
}

.hs-sh-ph {
    display: block;
    width: 100%;
    text-align: center;
    color: $black;
    margin-bottom: .875em;
    @include mq(medium) {
        margin-top: 4.4em;
        display: block;
        float: right;
        width: 300px;
        text-align: right;
    }
}

.hs-lp-title {
    color: $blue;
    font-size: $xlarge-font-size;
    font-weight: bold;
}

.hs-lp-title-desc {
    color: $black;
    display: block;
    font-size: 26px;
}

.hs-lp-subheader {
    font-size: 26px;
}

.hs-lp-content-primary {
    @include span-columns(12 of 12);
    @include mq(medium) {
        @include span-columns(4 of 6);
    }
}

.hs-lp-content-secondary {
    @include span-columns(12 of 12);
    @include mq(medium) {
        @include span-columns(2 of 6);
    }
}

.hs-two-col-equal .hs-lp-content-primary,
.hs-two-col-equal .hs-lp-content-secondary {
    @include span-columns(12 of 12);
    @include mq(medium) {
        @include span-columns(6 of 12);
    }
}

.actions .hs-button {
    display: block;
    text-align: center;
    margin-top: 2em;
}

#hs_form_target_main_form label {
    font-weight: normal !important;
}

#hs_form_target_main_form input[type="email"],
#hs_form_target_main_form input[type="text"],
#hs_form_target_main_form input[type="textarea"] {
    border-radius: 0 !important;
    margin-bottom: 1.5em;
}


/*=============== Site Footer ===============*/

.sf-small {
    background-color: $white;
    text-align: center;
    text-align: center;
    font-size: $small-font-size;
    .inner-wrap {
        padding: 1em;
    }
    a {
        color: $black;
        font-weight: bold;
    }
}

#rss-feeds ul li a,
#rss-feeds ul li br {
    display: none;
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display: none;
}


/*=============== Search ===============*/

.search-table {
    display: table;
    width: 100%;
    float: right;
    padding: 0;
}

.search-row {
    display: table-row;
    width: 100%;
}

.search-cell1 {
    display: table-cell;
    padding-right: 0.4375em;
}

.search-cell2 {
    display: table-cell;
    width: 2.1875em;
    border: 0;
}

.search-text {
    font-size: .8em;
    width: 100%;
    height: 2.3em;
    border: 1px solid red;
    float: left;
    padding-left: .5em;
    margin-bottom: 0 !important;
}

.search-submit {
    width: 100%;
    height: 2.3em;
    border: 0;
    float: right;
    background: url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
    .search-submit {
        background: url(img/ico-search.png) no-repeat center center !important;
    }
}

@include mq(medium) {
    .site-search {
        width: 100%;
    }
    .search-text {
        height: 2.3em;
    }
    .search-submit {
        height: 2.3em;
    }
}

@include mq(large) {
    .search {}
    .search-text {}
}

.search-module {
    background-color: $base-accent-color;
    height: 6em;
    margin-top: -6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.47);
    position: relative;
    z-index: 10000;
    @include transition (all .2s ease-in-out);
    &.active {
        margin-top: 0;
    }
    .inner-wrap {
        padding: 0.3em 1.5em 1em;
    }
}

.search-exit {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px; //position:absolute;
    top: 0;
    right: 0;
}


/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
    @include mq(small) {
        @include span-columns(3 of 6);
        @include omega(2n);
    }
    @include mq(medium) {
        @include span-columns(3 of 12);
    }
}


/*=============== Additional Style by Technosoft ===============*/

#content_area {
    .img_quote_wrapper {
        text-align: center;
    }
    .img_quote {
        display: inline-block;
        margin: 10px 10px 20px 10px;
        a {
            display: inline-block;
            background: #2876bf;
            color: $white;
            font-weight: bold;
            padding: 7px 25px;
            @include border-radius(30px 30px); //border-radius: 30px 30px;
            &:hover {
                background: #113e77;
                text-decoration: none;
            }
        }
    }
}

.product_list {
    margin: 0 20px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.list {
    margin: 0 !important;
    padding: 0 0 0 $base-spacing !important;
}

.img_quote_wrapper {
    text-align: center;
}

.img_quote {
    display: inline-block;
    margin: 10px 10px 20px 10px;
    a {
        display: inline-block;
        background: #2876bf;
        color: $white;
        font-weight: bold;
        padding: 7px 25px;
        @include border-radius(30px); //border-radius: 30px 30px;
        &:hover {
            background: #113e77;
            text-decoration: none;
        }
    }
}

.spec {
    margin: 0;
    width: 100%;
    border-spacing: 6px 2px;
    td {
        border: 1px solid #b2b2b2;
        padding: 10px;
        vertical-align: top;
        width: 50%;
        img {
            float: left;
            margin-right: em(20);
        }
    }
}

.ul_img {
    text-align: center;
    img {
        margin: 15px 30px 0;
    }
}

.multi_img {
    text-align: center;
    a {
        display: inline-block;
        img {
            margin: 10px 10px 10px 0;
            border: 1px solid #d9d9d9 !important;
        }
    }
}

.cta-banner {
    background-image: url('img/cta-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: $white;
    .inner-wrap {
        .cb-head {
            display: block;
            font-size: $large-font-size;
            margin-bottom: 16px;
            @include mq(medium) {
                font-size: $display-font-size;
            }
        }
        .or-text {
            font-size: $large-font-size;
            padding-left: em(10);
            padding-right: em(10);
            display: block;
            @include mq(medium) {
                display: inline-block;
                font-size: $medium-font-size;
            }
        }
    }
}

.case-study {
    div {
        background-color: $gray;
        display: inline-block;
        margin: 0 0 em(18, 18) 0;
        padding: em(18, 18) 0 0 0;
        width: 100%;
        text-align: center;
        img {
            float: none;
        }
        >div {
            padding: em(10, 18) em(21, 18) 0;
            h3 {
                font-size: em(24);
                line-height: em(30, 24);
                vertical-align: top;
                color: $blue;
                a {
                    font-family: 'proxima-nova'; //display: inline-block;
                    text-decoration: none;
                }
            }
            p {
                margin-right: 4%;
                text-align: center;
            }
            .learn-more {
                text-align: center;
                a {
                    padding: em(15, 18) em(20, 18);
                    text-decoration: none;
                }
            }
        }
    }
    @include mq(large) {
        div {
            padding: 0;
            text-align: left;
            img {
                float: left;
                width: 30%;
            }
        }
        >div {
            div {
                width: 70%;
                p {
                    text-align: left;
                }
                .learn-more {
                    text-align: right;
                }
            }
        }
    }
    @include mq(xlarge) {
        div {
            img {
                width: 20%;
            }
            >div {
                width: 79%;
                float: right;
            }
        }
    }
}


/***** Featured Resource ************/

.featured-resource-library {
    background: $light-gray;
    text-align: center;
    padding-top: em(15);
    padding-bottom: em(15);
    padding-left: em(13);
    padding-right: em(13);
    .inner-wrap {
        .fr-img {
            width: 279px;
            @include mq(medium) {
                float: left;
                margin-right: em(37);
            }
            @include mq(large) {
                margin-right: 18%;
            }
            @include mq(xlarge) {
                margin-right: 14%;
            }
        }
        div {
            text-align: left;
            .fr-heading {
                font-size: em(33);
                font-weight: 700;
            }
            .fr-descp {
                font-size: em(26, 18);
                line-height: em(33, 26);
                padding-bottom: em(12, 26);
                @include mq(medium) {
                    padding-bottom: em(40, 26);
                }
                @include mq(large) {
                    padding-left: 8%;
                    padding-right: 8%;
                    padding-top: em(20, 26);
                }
                @include mq(xlarge) {
                    padding-right: 24%;
                }
            }
            .fr-link {
                border: 1px solid $blue;
                border-radius: 5px;
                font-size: em(18);
                line-height: em(22, 18);
                padding: em(13, 18);
            }
        }
    }
}


/* Contact US landing page Style */

.contact-v2 {
    .site-content {
        background-image: url('//cdn2.hubspot.net/hubfs/497415/img/img-background.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        .site-content-primary {
            h1 {
                font-weight: bold;
            }
        }
        .inner-wrap {
            padding-bottom: 0;
        }
    }
    .site-content-primary {
        .hs-site-logo {
            width: auto;
        }
        h1 {
            font-weight: bold;
            margin-top: 40px;
        }
        p {
            font-size: $medium-font-size;
        }
    }
    .services-section {
        text-align: center;
        .inner-wrap {
            padding-top: em(105);
        }
    }
    .ss-col {
        .ss-col-img {
            height: em(180);
            img {
                max-width: em(170);
                @include transition(all 0.2s ease);
                &:hover {
                    width: em(180);
                }
            }
        }
    }
    #hs_form_target_form {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+1,1c6eaf+50,165688+100 */
        background: #1e5799;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 1%, #1c6eaf 50%, #165688 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 1%, #1c6eaf 50%, #165688 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 1%, #1c6eaf 50%, #165688 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#165688', GradientType=0);
        /* IE6-9 */
        position: relative;
        padding: em(34);
        label {
            color: white;
            font-size: em(15);
        }
        input {
            border-radius: 5px;
            margin-bottom: 6px;
            margin-top: 7px;
        }
        textarea {
            margin-bottom: 6px;
        }
        width: em(280);
        &:after {
            position: absolute;
            content: "";
            bottom: -20px;
            left: 0;
            border-top: 20px solid #165688;
            border-left: 140px solid transparent;
            border-right: 140px solid transparent;
            width: 100%;
        }
    }
    .logo-section {
        background-color: #f2f2f2;
        text-align: center;
        margin-bottom: em(30);
    }
    .actions {
        .hs-button {
            text-align: center;
            width: 100%;
            font-size: em(20);
            padding-top: 20px;
            margin-top: 1em;
            padding-bottom: 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f79016+1,eb8d1d+50,d68729+100 */
            background: #f79016;
            /* Old browsers */
            background: -moz-linear-gradient(top, #f79016 1%, #eb8d1d 50%, #d68729 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f79016 1%, #eb8d1d 50%, #d68729 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f79016 1%, #eb8d1d 50%, #d68729 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f79016', endColorstr='#d68729', GradientType=0);
            /* IE6-9 */
        }
    }
    .rows-of-3 {
        .ss-col {
            h3 {
                font-weight: bold;
            }
        }
    }
    @include mq(medium) {
        .site-content-primary {
            width: 100%;
        }
        .site-content-secondary {
            width: 100%;
        }
    }
    @include mq(large) {
        .rows-of-3 {
            .ss-col {
                padding: em(10) em(60);
            }
        }
        .site-content-primary {
            padding-right: 10%;
            width: 62.411%;
        }
        .site-content-secondary {
            width: 32.232%;
        }
        #hs_form_target_form {
            width: em(336);
            &:after {
                bottom: -30px;
                border-top: 30px solid #165688;
                border-left: 168px solid transparent;
                border-right: 168px solid transparent;
            }
        }
    }
    @include mq(xlarge) {
        #hs_form_target_form {
            width: em(400);
            &:after {
                bottom: -40px;
                border-top: 40px solid #165688;
                border-left: 200px solid transparent;
                border-right: 200px solid transparent;
            }
        }
    }
}


/***** Featured Resource ************/

.featured-resource-library {
    background: $light-gray;
    text-align: center;
    padding-top: em(15);
    padding-bottom: em(15);
    padding-left: em(13);
    padding-right: em(13);
    .inner-wrap {
        .fr-img {
            @include mq(medium) {
                float: left;
                margin-right: em(37);
            }
            @include mq(large) {
                margin-right: 18%;
            }
            @include mq(xlarge) {
                margin-right: 14%;
            }
        }
        div {
            text-align: left;
            .fr-heading {
                font-size: em(33);
                font-weight: 700;
            }
            .fr-descp {
                font-size: em(26, 18);
                line-height: em(33, 26);
                padding-bottom: em(12, 26);
                @include mq(medium) {
                    padding-bottom: em(40, 26);
                }
                @include mq(large) {
                    padding-left: 8%;
                    padding-right: 8%;
                    padding-top: em(20, 26);
                }
                @include mq(xlarge) {
                    padding-right: 24%;
                }
            }
            .fr-link {
                border: 1px solid $blue;
                border-radius: 5px;
                font-size: em(18);
                line-height: em(22, 18);
                padding: em(13, 18);
            }
        }
    }
}


/****************** Porfolio Section *******************/

.portfolio-section {
    .portfolio-menu {
        border: 1px solid $medium-gray;
        color: $black;
        display: inline-block;
        margin: em(2);
        padding: em(3) em(7);
        vertical-align: top;
        &.active {
            background: #eeeeee;
            color: $blue;
        }
        &:hover {
            background: #eeeeee;
            color: $blue;
        }
    }
    .portfolio-item {
        a {
            border: 1px solid $blue;
            box-shadow: 3px 3px 5px #888888;
            display: inline-block;
            margin: 7% 1% 0;
            position: relative;
            .port-title {
                color: $white;
                display: none;
                font-size: 18px;
                line-height: 22px;
                opacity: 1;
                padding: 10px;
                position: absolute;
                text-decoration: none;
                transition: all 0.5s ease 0s;
                top: 0;
                word-wrap: break-word;
                z-index: 1;
            }
            .enlarge {
                display: none;
            }
            @include mq(medium) {
                margin: 3% 3% 0 0;
                width: 46.6%;
            }
            @include mq(large) {
                width: 30%;
                &:nth-of-type(2n) {
                    margin-right: 3%;
                }
            }
            &:hover {
                &:after {
                    background: rgba(76, 138, 197, 0.85);
                    content: "";
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%
                }
                .port-title {
                    display: block;
                }
                .enlarge {
                    display: block;
                    background: #13518e;
                    background-image: url(img/search-eng.png);
                    background-repeat: no-repeat;
                    background-position: 6px 7px;
                    bottom: em(24);
                    color: $white;
                    padding: em(5) em(25) em(5) em(35);
                    position: absolute;
                    right: 0;
                    z-index: 1;
                }
            }
        }
    }
}


/********************** View Work Section **************************/

.view-work-section {
    background: $light-gray;
    text-align: center;
    h2 {
        color: $black;
    }
    p {
        color: $black;
        @include mq(large) {
            font-size: em(22);
            line-height: em(26, 22);
        }
    }
    .featured-image-gallery {
        margin-top: em(20);
        margin-bottom: em(20);
        @include mq(large) {
            margin-top: em(25);
            margin-bottom: em(30);
        }
        @include mq(xlarge) {
            margin-top: em(35);
            margin-bottom: em(50);
        }
        .flex-direction-nav {
            a {
                height: 45px;
                opacity: 1;
                &:before {
                    background-image: url("img/ico-arrow-left.svg");
                    background-size: 49px 44px;
                    height: 49px;
                }
            }
            .flex-prev {
                left: -26px;
                &:hover {
                    left: 0;
                }
            }
            a.flex-next {
                right: -17px;
                opacity: 1;
                &:hover {
                    right: 0;
                }
                &:before {
                    background-image: url("img/ico-arrow-right.svg");
                }
            }
        }
    }
}


/*===============  2017 Automotive Report Page ===============*/


/* === Animation Keyframes === */

@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

@include keyframes(side-to-side) {
    0% {
        @include transform(translate(-6px,
        0));
    }
    50% {
        @include transform(translate(6px,
        0));
    }
    100% {
        @include transform(translate(-6px,
        0));
    }
}

@include keyframes(side-to-side-small) {
    0% {
        @include transform(translate(0px,
        0));
    }
    20% {
        @include transform(translate(-10px,
        0));
    }
    50% {
        @include transform(translate(0px,
        0));
    }
    75% {
        @include transform(translate(10px,
        0));
    }
    100% {
        @include transform(translate(0px,
        0));
    }
}

@include keyframes(up-n-down) {
    0% {
        @include transform(translate(0px,
        0));
    }
    20% {
        @include transform(translate(-0px,
        -25px));
    }
    50% {
        @include transform(translate(0px,
        0));
    }
    75% {
        @include transform(translate(0px,
        25px));
    }
    100% {
        @include transform(translate(0px,
        0));
    }
}

@include keyframes(floating) {
    0% {
        @include transform(translate(0px,
        -8px));
    }
    50% {
        @include transform(translate(0px,
        8px));
    }
    100% {
        @include transform(translate(0px,
        -8px));
    }
}

@include keyframes(slide-out) {
    0% {
        @include transform(translate(180px,
        0px));
    }
    100% {
        @include transform(translate(40px,
        0px));
    }
}

@include keyframes(road-dash) {
    0% {
        @include transform(translate(0px,
        0px));
    }
    100% {
        @include transform(translate(0px,
        27px));
    }
}

@include keyframes(ping) {
    0% {
        @include transform(scale(.25));
        opacity: 1;
    }
    100% {
        @include transform(scale(1));
        opacity: 0;
    }
}

@include keyframes(total-rotate) {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@include keyframes(threedee-print-one) {
    0% {
        opacity: 0
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(threedee-print-two) {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(threedee-print-three) {
    0% {
        opacity: 0
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* === Animations === */

.auto-1-turbine-1 {
    @include animation(spin 6000ms linear infinite); //transform-origin: 44% 51.5%;
    @include transform-origin(1452px 850px);
}

.auto-1-turbine-2 {
    @include animation(spin 9000ms linear infinite); //transform-origin: 46% 40.9%;
    @include transform-origin(1522px 675px);
}

.auto-1-turbine-3 {
    @include animation(spin 6000ms linear infinite); //transform-origin: 48% 48%;
    @include transform-origin(1587px 789px);
}

.auto-1-cloud {
    @include animation(side-to-side 12000ms linear infinite);
}

.side-to-side {
    @include animation(side-to-side-small 12000ms linear infinite);
}

.animate-up-n-down {
    @include animation(up-n-down 12000ms linear infinite);
}

.animate-floating {
    @include animation(floating 5000ms ease-in-out infinite);
}

.animate-road-dash {
    @include animation(road-dash 1500ms linear infinite);
}

.animate-ping {
    @include animation(ping 1500ms ease-in-out infinite); //@include transform-origin(50.05% 89%);
    @include transform-origin(338px 284px);
}

.animate-360-rotate {
    @include animation(total-rotate 6000ms linear infinite);
}

.animate-3d-print-1 {
    @include animation(threedee-print-one 9000ms cubic-bezier(.83,
    .12,
    1,
    .67) infinite);
}

.animate-3d-print-2 {
    @include animation(threedee-print-two 9000ms cubic-bezier(.83,
    .12,
    1,
    .67) infinite);
}

.animate-3d-print-3 {
    @include animation(threedee-print-three 9000ms cubic-bezier(.83,
    .12,
    1,
    .67) infinite);
}


/* === Automotive Section Styling === */

.flexslider-automotive-infographic,
.flexslider-automotive-infographic-2 {
    margin: 0;
    background: transparent;
    border: 0;
    position: relative;
    zoom: 1;
}

.auto-1,
.auto-2,
.auto-3,
.auto-4,
.auto-5,
.auto-6,
.auto-7,
.auto-9 {
    h3 {
        color: $blue;
        font-weight: bold;
    }
    @include mq(large) {
        .inner-wrap {
            padding: 6em 2.5em;
            max-width: 60.25em; // @include mq(mediumv) {
            //   max-width: 51.25em;
            // }
            @include mq(smallv) {
                max-width: 81.25em;
            }
        }
        h3 {
            font-size: $xlarge-font-size;
        }
        p {
            font-size: $medium-font-size;
        }
    }
}

.auto-1 {
    background: $green;
    color: $white;
    position: relative;
    @include mq(small) {
        padding-bottom: 12em;
    }
    .scp-page-title {
        color: $white;
    }
}

.auto-1-bg {
    position: absolute;
    right: 0;
    bottom: 4em;
    @include mq(large) {
        max-width: 1100px;
        bottom: 11em;
    }
}

.auto-2 {
    background-image: url(img/auto/city-background.svg);
    background-size: cover;
}

.blue-truck-wrap {
    position: relative;
    max-width: 650px;
    display: block;
    margin: 0 auto;
    @include mq(large) {
        margin-top: 6em;
    }
}

.car-exhaust {
    position: absolute;
    z-index: 3;
    width: 1px;
    height: 160px;
    left: -59px;
    bottom: 3px;
    @include transform(rotate(270deg));
    .s0 {
        animation: smokeL 10s 0s infinite;
    }
    .s1 {
        animation: smokeR 10s 1s infinite;
    }
    .s2 {
        animation: smokeL 10s 2s infinite;
    }
    .s3 {
        animation: smokeR 10s 3s infinite;
    }
    .s4 {
        animation: smokeL 10s 4s infinite;
    }
    .s5 {
        animation: smokeR 10s 5s infinite;
    }
    .s6 {
        animation: smokeL 10s 6s infinite;
    }
    .s7 {
        animation: smokeR 10s 7s infinite;
    }
    .s8 {
        animation: smokeL 10s 8s infinite;
    }
    .s9 {
        animation: smokeR 10s 9s infinite;
    }
    span {
        display: block;
        position: absolute;
        bottom: -35px;
        left: 50%;
        margin-left: -20px;
        height: 0px;
        width: 0px;
        border: 35px solid #4b4b4b;
        border-radius: 35px;
        left: -14px;
        opacity: 0;
        transform: scale(0.2);
    }
}


/* car exhaust animation */

@keyframes smokeL {
    0% {
        transform: scale(0.2) translate(0, 0);
    }
    10% {
        opacity: 1;
        transform: scale(0.2) translate(0, -5px);
    }
    100% {
        opacity: 0;
        transform: scale(1) translate(-20px, -130px);
    }
}

@keyframes smokeR {
    0% {
        transform: scale(0.2) translate(0, 0);
    }
    10% {
        opacity: 1;
        transform: scale(0.2) translate(0, -5px);
    }
    100% {
        opacity: 0;
        transform: scale(1) translate(20px, -130px);
    }
}

.auto-2b {
    max-width: 50em;
    margin: 0 auto;
}

.auto-3 {}

.auto-4 {
    background-image: url(img/auto/city-background-grey.svg);
    background-size: cover;
    position: relative;
    .air-vent {
        @include mq(large) {
            max-width: 16em;
        }
    }
}

.auto-4-right {
    @include span-columns(4);
    margin-top: 4em;
    margin-left: 3em;
}

.auto-4-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1200px;
}

.auto-5-left {
    img {
        @include span-columns(6);
        margin-top: 4em;
        @include mq(medium) {
            margin-top: 8em;
            @include span-columns(2);
            @include animation(slide-out 5000ms ease-in-out infinite);
        }
    }
}

.auto-5-right {
    @include span-columns(6);
    @include omega;
    @include mq(medium) {
        @include span-columns(3);
    }
    img {
        margin-top: 2em;
        z-index: 2;
        position: relative;
    }
}

.auto-6 {
    background: #f1f1f1;
    * {
        line-height: 1.5;
    }
    .inner-wrap {
        line-height: 0;
        padding-bottom: 0 !important;
    }
    .auto-6-content {
        max-width: 34em;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        @include mq(medium) {
            margin-bottom: -12em;
        }
        @include mq(large) {
            max-width: 48em;
            margin-bottom: 20em;
        }
        @include mq(mediumv) {
            margin-bottom: -5em;
        }
    }
    svg {
        @include mq(large) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 1800px;
            margin: 0 auto;
        }
        @include mq(mediumv) {
            position: relative;
        }
    }
}

.auto-7 {
    position: relative;
    .auto-7b-img-1 {
        width: 10em;
        @include span-columns(4);
    }
    .auto-7b-img-2 {
        width: 12em;
        @include span-columns(4);
    }
}

.auto-8 {
    background: $green;
    h3 {
        color: $white;
        font-weight: bold;
        @include mq(large) {
            font-size: $xlarge-font-size;
        }
    }
    p {
        color: $white;
        font-size: $medium-font-size;
    }
    svg {
        max-width: 280px;
        margin: 0 auto;
        display: block;
    }
    .blockquote {
        font-size: $xlarge-font-size;
    }
    .col-4 {
        margin-top: 9em;
    }
    .col-5 {
        margin-top: 2em;
        padding: 2em;
    }
}

.auto-9 {
    text-align: center;
    .btn,
    .btn-invert {
        font-size: $large-font-size;
    }
}

.blockquote {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -1em;
        top: -0.7em;
        width: 2em;
        background-image: url(img/ico-quote-round.svg);
        background-repeat: no-repeat;
        height: 2em;
        background-size: 2em;
        opacity: .3;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0em;
        bottom: 0em;
        width: 2em;
        background-image: url(img/ico-quote-round.svg);
        background-repeat: no-repeat;
        height: 2em;
        background-size: 2em;
        opacity: .3;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.fp-enabled {
    body:not(.fp-viewing-auto-1) {
        .site-header {
            display: none;
        }
    }
}

#fp-nav {
    li:after {
        display: none;
    }
}


/*!
 * fullPage 2.9.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}

.fp-slide {
    float: left;
}

.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block;
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}

.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.fp-slidesContainer {
    float: left;
    position: relative;
}

.fp-controlArrow {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    mix-blend-mode: multiply;
    display: none !important;
}

.fp-controlArrow.fp-prev {
    left: 40px;
    width: 0;
    border-width: 30px 27px 30px 0;
    border-color: transparent rgba(82, 82, 82, 0.70) transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 40px;
    border-width: 30px 0 30px 27px;
    border-color: transparent transparent transparent rgba(82, 82, 82, 0.70);
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}

.fp-scroller {
    overflow: hidden;
}

.iScrollIndicator {
    border: 0 !important;
}

.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
    right: 17px;
}

#fp-nav.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fp-slidesNav.bottom {
    bottom: 100px;
    @include mq(mediumv) {
        bottom: 50px;
    }
    @include mq(smallv) {
        bottom: 25px;
    }
}

.fp-slidesNav.top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 13px;
    height: 15px;
    margin: 7px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
    &:after {
        display: none !important;
    }
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 6px;
    width: 6px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}


/******** GDD 001 ***********/

.gdd-001.hs-two-col-equal .hs-lp-content-primary {
    @include mq(medium) {
        float: right;
        margin-right: 0;
    }
}

.gdd-001.hs-two-col-equal .hs-lp-content-secondary {
    @include mq(medium) {
        margin-right: 2.35765%;
    }
}

.gdd-001 {
    h3.so-title,
    h3.st-title {
        color: $white;
        padding: 0.5em 1em;
        text-align: center;
        margin-top: 0;
    }
    h3.so-title {
        background-color: $blue;
    }
    h3.st-title {
        background-color: $orange;
    }
    .form-title {
        display: none;
    }
    /*   .form-columns-1 .input{
  input[type="file"]{
    border:2px solid $blue !important;
    border-radius: 5px !important;
  }
  } */
    .hs-richtext {
        hr {
            border-color: currentcolor currentcolor $dark-gray;
            border-style: none none solid;
            border-width: medium medium 1px;
            margin: 1.5em 0;
        }
    }
}


/*============ Featured Resource Section ============*/

.featured-resource {
    background-color: $green;
    @include mq(medium) {
        background-image: url(img/featured-resource-bg.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
    }
    @include mq(xlarge) {
        background-size: 100% 100%;
    }
    .inner-wrap {
        padding-top: 0;
        padding-bottom: 0;
    }
    .fr-wrap {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        @include mq(medium) {
            background-image: url(img/fr-bg.jpg);
            background-position: left bottom;
            background-size: 362px auto;
            padding-left: 39%;
            background-repeat: no-repeat;
        }
        @include mq(large) {
            padding-top: 2.5em;
            padding-bottom: 2.5em;
            background-size: 410px auto;
            padding-left: 27%;
        }
        @include mq(xlarge) {
            padding-top: 1.5em;
            padding-bottom: 2.5em;
            padding-left: 24%;
        }
    }
    .fr-title {
        font-size: em(26);
        color: $white;
        font-weight: bold;
        margin: 0;
        @include mq(large) {
            font-size: 30px;
            margin-top: em(15, 30);
        }
    }
    .fr-subtext {
        font-size: em(18);
        color: $white;
        @include mq(large) {
            font-size: 24px;
            margin-bottom: em(24, 24);
            margin-top: em(10, 24)
        }
    }
    .fr-btn {
        border: 1px solid $white;
        background-color: transparent;
        @include mq(large) {
            font-size: 18px;
            padding: em(21, 18);
        }
        &:hover {
            background-color: darken($green, 10%);
            color: $white;
        }
    }
}


/* ==== GDD 002 B ==== */

.gdd-002-recommended-resources {
    background-color: #E3E7EA;
    .rr-heading {
        font-weight: bold;
        margin-bottom: em(20);
    }
    .rr-item {
        text-align: center;
        &:hover {
            .rr-item-cta {
                background-color: $orange;
                color: $white;
                border: 1px solid $orange;
                &:before {
                    background-image: url(img/ico-down-cta-btn-white.svg);
                }
            }
        }
    }
    .rr-item-cta {
        background-color: transparent;
        border-radius: 10px;
        color: $blue;
        font-size: 1.05em;
        font-weight: normal;
        padding: 0.9em 1em 0.9em 3em;
        position: relative;
        &:before {
            content: "";
            height: 30px;
            left: 12px;
            position: absolute;
            top: 7px;
            width: 30px;
            background-image: url(img/ico-down-cta-btn-blue.svg);
            background-repeat: no-repeat;
        }
    }
}


/* ==== GDD 005 B Homepage==== */

.gdd-005-b-homepage {
    background-image: url(img/resource-bg.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .ars-image {
        img {
            max-width: em(230);
            width: 100%;
        }
        @include mq(medium) {
            width: 20%;
        }
    }
    .ars-additional-resources {
        @include mq(large) {
            padding-left: em(122);
        }
        .btn-important {
            background-color: #4c87bf;
            color: #ffffff;
            text-align: center;
            display: block;
            padding: em(15) em(0) em(15) em(0);
            border: none;
            &:hover {
                background-color: #1d4e7c;
                color: $white;
            }
        }
    }
    .ars-featured-resource {
        text-align: center;
        @include mq(medium) {
            width: 43%;
            text-align: left;
        }
        .fr-title-info {
            font-size: 1.56em;
        }
        .fr-intro {
            font-size: 18px;
        }
        .featured-btn {
            background-color: #ef9c3c;
            padding-top: 12px;
            border: none;
            &:hover {
                background-color: #eb8308;
            }
        }
    }
}


/* ==== GDD 005 B Resources page Infographic==== */

.gdd-005-b-resource-library-infographic {
    .resource-library-infographic {
        @include mq(small) {
            background-color: #80c652;
        }
        @include mq(medium) {
            background-image: url(img/infograph-bg.jpg);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100% 85%;
        }
    }
    .rli-wrap {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 25%;
        @include mq(medium) {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            padding-left: 25%;
            margin-top: em(-44);
        }
        @include mq(large) {
            padding-top: 2.5em;
            padding-bottom: 2.5em;
            background-size: 410px auto;
            padding-left: 27%;
            margin-top: em(-44);
        }
        @include mq(xlarge) {
            padding-top: 1.5em;
            padding-bottom: 2.5em;
            padding-left: 24%;
            margin-top: em(-44);
        }
        .rli-title {
            font-size: em(26);
            color: $white;
            font-weight: bold;
            margin: 0;
            @include mq(large) {
                font-size: 30px;
                margin-top: em(15, 30);
            }
        }
        .rli_subtext {
            font-size: em(18);
            color: $white;
            @include mq(large) {
                font-size: 24px;
                margin-bottom: em(24, 24);
                margin-top: em(10, 24)
            }
        }
        .rli-btn {
            border: 1px solid $white;
            background-color: transparent;
            @include mq(large) {
                font-size: 18px;
                padding: em(21, 18);
            }
            &:hover {
                background-color: darken($green, 10%);
                color: $white;
            }
        }
    }
}


/* ==== GDD 005 B Resources page Featured Resources==== */

.gdd-005-b-resource-library-infographic {
    .rl-left-content {
        @include mq(small) {
            width: 100%;
        }
        @include mq(medium) {
            float: left;
            width: 55%;
        }
    }
    .rl-right-content {
        text-align: center;
        @include mq(medium) {
            text-align: left;
            border-left: 1px solid #e3e7ea;
        }
        h2 {
            font-size: em(26);
            font-weight: bold;
            margin-left: em(16);
            text-align: center;
            @include mq(large) {
                text-align: left;
            }
        }
        .rl-ebook-img {
            display: block;
            margin: 0 auto;
            max-width: em(230);
            width: 100%;
            @include mq(large) {
                float: left;
            }
        }
        @include mq(small) {
            width: 100%;
        }
        @include mq(medium) {
            float: right;
            width: 41%;
        }
        .rl-ebook-title {
            @include mq(small) {
                margin: 0 auto;
                text-align: center;
            }
            @include mq(medium) {
                margin: 0 auto;
                text-align: center;
            }
            @include mq(large) {
                margin-top: em(60);
                font-weight: bold;
                color: #2c75ba;
                text-decoration: underline;
            }
        }
    }
    .rl-navigation {
        clear: left;
        h3 {
            font-size: em(18);
            font-weight: bold;
        }
        a {
            color: #343434;
            font-size: em(19);
            text-decoration: underline;
        }
    }
}

.gdd-005-b-resource-library-infographic {
    display: none;
}


/* ==== GDD 003 B Contact Us page Style ==== */

.gdd-003-b {
    &.blur {
        .site-content-primary {
            text-shadow: 2px 0 10px rgba(33, 33, 33, 0.9);
            color: rgba(255, 210, 82, 0);
            transform: scale(0.9);
            img {
                opacity: 0.3;
            }
        }
    }

.form-wrap{
    margin: 0 auto em(40);
    max-width: em(500);
    @include mq(large) {
        max-width: 100%;
        margin: auto;
    }
}
    .hs-two-col-equal .hs-lp-content-primary {
        @include transition(all .5s ease-in);
        @include mq(medium) {
            @include span-columns(12 of 12);
        }
         @include mq(large) {
            @include span-columns(6 of 12);
        }
    }
    .hs-two-col-equal .hs-lp-content-secondary {
        @include transition(all .5s ease-in);
        @include mq(medium) {
            @include span-columns(12 of 12);
        }
        @include mq(large) {
            @include span-columns(5.5 of 12);
        }
    }
    @include mq(large) {
        &:after {
            opacity: 0;
        }
        &.blur {
            position: relative;
            @include transition(background-color .5s ease-in-out);
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                opacity: 1;
                background-color: rgba(2, 1, 0, 0.19);
                z-index: 2;
            }
        }
    }
    .gdd-003-bcontent {
        display: block;
        .map-wrap {
            text-align: center;
            padding-right: 1em;
            border-right: 1px solid #9e9e9e;
            p {
                font-size: em(14);
                a {
                    color: $dark-gray;
                }
            }
            &:last-child {
                padding-right: 0;
                border-right: 0;
            }
        }
    }
    .gdd-003-a {
        display: none;
    }
    .hs-lp-content-primary {
        float: right !important;
        margin-right: 0 !important;
        margin-left: 2.3576515979% !important;
    }
    .hs-lp-content-secondary {
        float: left !important;
        position: relative;
        z-index: 100;
        background-color: $white;
        &.contact-active-form {
            opacity: 1;
            transform: scale(1.01);
            z-index: 100;
            padding-bottom: 1em;
            -webkit-box-shadow: 0 0 25px 0 #333333;
            box-shadow: 0 0 25px 0 #333333;
        }
    }
}

.gdd-003-bcontent {
    display: none;
}

.gdd-cta-006-b {
    ul:not([class]) {
   padding-left: em(0);

        li:not([class]) {
        
        margin-bottom: em(0);
    }
    }
    .dropdown-menu {
        list-style: none;
        padding: 0;
        
    }
    

.dropdown {
    a {
        text-decoration: none;
    }

    [data-toggle="dropdown"] {
        position: relative;
        display: block;
        color: white;
        background: $blue;
        margin-bottom: em(2);
        border-radius: em(5);
        padding: em(10);

    }
    .icon-arrow {
        position: absolute;
        display: block;
        font-size: em(11);
        color: #fff;
        top: 14px;
        right: 18px;

        &.open {
            @include transform(rotate(-180deg));
            @include transition(transform .6s);
        }
        &.close {
            @include transform(rotate(0deg));
            @include transition(transform .6s);
        }

        &:before {
            content: '\25BC';
        }
    }

    .dropdown-menu {
        max-height: 0;
        overflow: hidden;
        

        li {
            padding: 0;

            a {

                display: block;
                color: darken($gray, 50%);
                background: $gray;
                   border-bottom: 1px solid $white;
                padding: 10px 10px;
                    border-radius: 5px;
                    &:hover{
                        background-color:#c6ced4;
                    }
            }
        }
    }

 

    .show {
        display: block;
        max-height: 9999px;
        @include transform(scaleY(1));
        @include animation(showAnimation .5s ease-in-out);
        @include transition(max-height 1s ease-in-out);
    }

    .hide {
        max-height: 0;
        @include transform(scaleY(0));
        @include animation(hideAnimation .4s ease-out);
        @include transition(max-height .6s ease-out);
    }
}

@include keyframes(showAnimation) {
    0% {
        @include transform(scaleY(0.1));
    }
    40% {
        @include transform(scaleY(1.04));
    }
    60% {
        @include transform(scaleY(0.98));
    }
    80% {
        @include transform(scaleY(1.04));
    }
    100% {
        @include transform(scaleY(0.98));
    }               
    80% {
        @include transform(scaleY(1.02));
    }
    100% {
        @include transform(scaleY(1));
    }
}

@include keyframes(hideAnimation) {
  0% {
    @include transform(scaleY(1));
  }
  60% {
    @include transform(scaleY(0.98));
  }
  80% {
    @include transform(scaleY(1.02));
  }
  100% {
    @include transform(scaleY(0));
  }
}
}


.breadcrum-materials{
    span{
        &:last-child{
            color:#2c75ba;
            text-decoration: underline;
            font-weight: bold;

        }
    }
}

  @media screen and (min-width: 960px) and (max-width: 1280px){
    .sn-li-l1{
        span{
           font-size: 0.9em; 
        }
    }
    .sn-li-l2 {
        a{
            span{
                font-size: 0.9em;
            }
        }
    }
    .sn-li-l3 {
        a{
            span{
                font-size: 0.9em;
            }
        }
    }
    .abtcgr-nav{
        .sn-level-2{
           right: 0.5em;             
        }
        .sn-li-l2, .sn-li-l3{
            width: 17em;
        }

    }
                                
     }

.si-content-container {
    .inner-wrap {
        position: relative;
        z-index: 1;
    }
}