// Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1400);
}

// Media Object
.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 16.66%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}


/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: em(-340);
  top: 5%;
  z-index: 10;
  padding: 0 2em;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 66px;
  right: 310px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 199px;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  text-align: center;
}


/*=============== Slide Box ===============*/

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-630);
  z-index: 1000;
  width: 100%;
  @include mq(medium) {
    width: auto;
  }
}

p#last {
  margin: 0;
}

a.close {
  background-color: white;
  color: $blue;
  text-align: center;
  float: left;
  padding: .2em 1.2em;
  font-size: 1.2em;
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: -14px;
  right: 1em;
  @include mq(medium) {
    padding: 0 1em;
    font-size: 1em;
  }
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}


/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}


/*=============== Click to Expand ===============*/

.click-expand {
  border: $base-border;
  clear: both;
  overflow: hidden;
  margin-bottom: $baseline*3;
  @include transition (all .2s ease-in-out);
  &.active {
    &:hover {
      background-color: $white;
      .ce-header {
        //color:$blue;
      }
    }
    .ce-header {
      &:after {
        content: '-';
      }
    }
    .ce-body {
      display: block;
      opacity: 1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding: 0 12px $baseline*3 12px;
      display: block;
      @include margin-fix;
    }
  }
  &:hover {
    background-color: $base-border-color;
    .ce-header {
      //color:$white;
    }
  }
}

.ce-header {
  position: relative;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: $baseline*1.5;
  margin-bottom: $baseline*1.5;
  &:after {
    content: '+';
    color: $base-accent-color;
    padding-left: 8px;
    position: absolute;
    right: em(5);
  }
}

.ce-body {
  display: none;
  opacity: 0;
}

.ul-grid {
  li {
    border: 1px solid #cccccc;
    color: #1f5587;
    background-color: #efefef;
    margin: 2px 0 2px 0;
    padding: 6px 15px 6px 15px;
    @include mq(medium) {
      display: inline-block;
      vertical-align: top;
      width: 32.7%;
    }
    @include mq(xlarge) {
      width: 19.7%;
    }
  }
}

@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    opacity: 1;
  }
}
