table {
  // border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: top;
}
/*=============== Spec Tables ===============*/

/* Table expand on click */
.table-wrap, .spec-table{
  display:none !important;
  &.active{
    display: block !important;
  }
}

.headexpand{
  cursor:pointer;
  padding: 0.5em 38px;
  border-radius: 5px; 
  border: solid 1px #ccc;
  position:relative;
  margin-top:1em;
  color:$white;
  background-color:$blue;

  &:after{
    content:"+";
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 16px;
    color:$white; 
    
    @include mq(medium){
      right:20px;
    }
  }
}

.headexpand.active{
  &:after{
    content:"-";
    color:$white;
  }
}

.spec-subtext, .spec-title{
  margin: .875em 0 0 0;
}

.spec-table {
  display: block;
  width: 100%;
  //margin:0 0 1em 0;
  margin-bottom: $baseline*3;
  background: lighten($light-gray, 12%);
  //font-size:em(14);
  border-spacing: 15px;
  border-collapse: separate;
  margin-left:0;
  @include mq(medium){
    margin-left:-15px;
  }
}

.spec-thead {
  display: block;
}

.spec-table-row {
  display: block;
  width: 100%;
  margin-bottom:10px;
  //border-bottom:1px solid $gray;
}

.spec-cell {
  display: block;
  vertical-align: top;
  border:solid 1px $medium-gray;
  padding:1em;
  //color:$blue;
  p {
    //font-size:.95em;
    margin: 0;
  }
  > ul {
    margin: .5em 0;
    > li {
      margin-bottom: 0 !important;
      //font-size:.7em;
      ul {
        padding: 0 0 0 1.8em;
      }
    }
  }
  input,
  select {
    width: 100%;
  }
}

.spec-col {
  display: table-column;
}

.spec-col-1{
  color:$blue;  
}

// .spec-col-1 {
//   width: 100%;
//   @include mq(medium){
//     @include span-columns(4 of 12);
//   }
// }

// .spec-col-2 {
//   width: 100%;
//   @include mq(medium){
//     @include span-columns(4 of 12);
//   }
// }

@include mq(medium) {
  .spec-table {
    display: table;
  }
  .spec-thead {
    display: table-header-group;
  }
  .spec-table-row {
    display: table-row;
  }
  .spec-cell {
    display: table-cell;
    p {
      font-size: em(16);
      margin-bottom: 0;
    }
  }
  .spec-col-1 {
    width: 30%;
  }
  .spec-col-2 {
    width: 70%;
  }
}

/* Table saw */

.tablesaw tbody tr td:first-child, .tablesaw tbody tr td:last-child{
  //border:solid 1px $medium-gray;
}

.tablesaw tbody tr td:first-child{
  color:$blue;
}

.additional-content .material-tablesaw{
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}
.material-tablesaw tbody tr td,.material-tablesaw thead tr th {
  border-right: 1px solid #dfdfdf;
  font-size: em(16,18);
}

