// Typography
$base-font-family: "proxima-nova";
$header-font-family: $base-font-family;

// Font Sizes
$small-font-size: em(16);
$base-font-size: em(16);
$medium-font-size: em(22);
$large-font-size: em(26);
$xlarge-font-size: em(40);
$display-font-size: em(50);

$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#202020;
$blue: #2c75ba;
$dark-blue:#225B92;
$gray:#e2e7ea;
$dark-gray: #333;
$medium-gray: #ccc;
$light-gray: #e3e7ea;
$orange: #f79016;
//$green: #95ca4c;
$green: #80c652;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation
$nav-font-size:em(18);
$nav-height:em(40);
$nav-background:transparent;
$nav-background-mobile:$blue;
$nav-text-color:$black;
$nav-text-color-hover:$black;
$nav-hover:$light-gray;
$nav-active-background:darken($nav-background, 10%);
$nav-border:1px solid lighten($nav-background,5%);
$nav-border-mobile:1px solid lighten($nav-background-mobile,5%);


$nav-spacing-mobile:$baseline*2;
$nav-spacing-medium:$baseline*2;
$nav-spacing-large:$baseline*4;
$nav-spacing-xlarge:$baseline*4;

$nav-subnav-font-size:em(18);
$nav-subnav-height:em(45);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:1px solid lighten($nav-hover,10%);
$nav-subnav-hover:darken($nav-subnav-background, 10%);

$nav-mobile-width:17em;