<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <script src="//cdn.optimizely.com/js/4884411072.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="{{ site_settings.company_name }}">
  <meta name="description" content="{{ page_meta.meta_description }}">
  <meta name="generator" content="HubSpot">
  <title>{{ page_meta.html_title }} | {{ site_settings.company_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %} {{ include_css('custom/system/js/style.css') }} {{ standard_header_includes }} {{ include_default_custom_css(False) }}
  <script type="application/ld+json">{
"@context" : "http://schema.org",
"@type" : "Organization",
"name" : "CGR Products",
"url" : "https://www.cgrproducts.com/",
"sameAs" : [
"https://twitter.com/cgrproducts",
  "https://www.cgrproducts.com/blog/",
  "https://www.facebook.com/CGRProducts/",
  "https://plus.google.com/u/0/101370404909606206409",
  "https://www.linkedin.com/company/cgr-products-inc",
  "https://www.youtube.com/channel/UCJ145hQk4B53mWXeiqjsFMg"
]
}</script>
<script type='application/ld+json'>{
"@context": "http://www.schema.org",
"@type": "localbusiness",
"image": "https://www.cgrproducts.com/wp-content/themes/cgr-default/img/site-logo.jpg",
"name": "CGR Products",
"url": "https://www.cgrproducts.com/",
"priceRange": "1",
"sameAs": [
"https://www.manta.com/c/mmctmzq/cgr-products-inc",
  "https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=4525256",
  "https://www.manufacturednc.com/CGR-Products",
  "http://www.businesswire.com/news/home/20121101006450/en/CGR-Products-Expands-Acquisition-Wisconsin-Manufacturer",
  "http://www.buzzfile.com/business/CGR-Products,-Inc.-256-353-0144",
  "https://www.yellowpages.com/greensboro-nc/mip/cgr-products-inc-12581965?lid=12581965",
  "https://industrynet.com/listing/101246/cgr-products-inc",
  "https://www.chamberofcommerce.com/greensboro-nc/3995624-cgr-products-inc"
],
"address": {
"@type": "PostalAddress",
"streetAddress": "4655 US Highway 29 North",
"addressLocality": "Greensboro",
"addressRegion": "NC",
"postalCode": "27405-9446",
"addressCountry": "United States",
"telephone": "1-877-313-6785"
}
}</script>
<script type="application/ld+json">{
"@context": "http://schema.org",
"@type": "Person",
"name": "Chuck Keeley",
"jobTitle": "President",
"affiliation": "CGR Products",
"additionalName": "Charles",
"url": "https://www.cgrproducts.com/",
"sameAs":["https://www.linkedin.com/in/chuck-keeley-728a5b10/",
"https://www.bloomberg.com/profiles/people/17068598-charles-s-keeley"]},
"name":"Charles Keeley, President, CGR Products"}
"address": {
"@type": "PostalAddress",
"streetAddress": "4655 US Highway 29 North",
"addressLocality": "Greensboro",
"addressRegion": "NC"
}
}</script>
</head>

<body class="{{ builtin_body_classes }}">
  <div class="site-wrap">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
