{% include "custom/pages/rpm/rpm-html-header.html"%}
 <section class="site-content-wrap contact-v2" role="main">
<!--Site Content-->
<section class="site-content two-column" role="main">
  <div class="inner-wrap">
    <article class="site-content-primary">
    <div class="clearfix">
    <a href="http://www.cgrproducts.com" class="hs-site-logo"><img src="http://cdn2.hubspot.net/hubfs/497415/img/logo.svg" alt="Site Logo"></a>
    </div>
      {% header "site_content_primary" overrideable=True, value='A clear and bold header', label='Header' %}
     
      {% widget_container "module_13947308956984127" overrideable=False, label='Flexible Column' %}
        {% widget_block rich_text "module_13947308979154331" overrideable=True, label='New Module' %}
          {% widget_attribute "html" %} 
          {% end_widget_attribute %}
        {% end_widget_block %} 
      {% end_widget_container %}
    </article>
    <aside class="site-content-secondary">
      {% form "form" %}
      {% widget_container "site_content_secondary" overrideable=False, label='Flexible Column' %} {% end_widget_container %}
    </aside>
    
 </div>
</section>
 <section class="services-section">
        <div class="inner-wrap rows-of-3">
          <div class="ss-col">
            <figure class="ss-col-img"><img src="http://cdn2.hubspot.net/hubfs/497415/img/ico-custom-cutting.svg" alt="Custom Cutting" /></figure>
            <h3>Custom cutting <br/>& fabricating</h3>
            <p>From die cutting, kiss cutting and waterjet cutting to laminating and gasket beading, we’re fully equipped to deliver any shape, property or volume your project requires.</p>
          </div>
          <div class="ss-col">
            <figure class="ss-col-img"><img src="http://cdn2.hubspot.net/hubfs/497415/img/ico-material.svg" alt="Material" /></figure>
            <h3>Unlimited material <br/>selection</h3>
            <p>We hold key relationships with 3M, Rogers Corp. Adchem and other material suppliers, plus an extensive inventory of raw materials across our 3 facilities.</p>
          </div>
          <div class="ss-col">
            <figure class="ss-col-img"><img src="http://cdn2.hubspot.net/hubfs/497415/img/ico-turnaround.svg" alt="Turnaround" /></figure>
            <h3>Rapid <br/>turnaround</h3>
            <p>With complete in-house  tool and die capabilities and three central locations, you’ll enjoy shorter lead times plus reduced shipping costs.</p>
          </div>
        </div>        
      </section>
      <section class="logo-section">
        <div class="inner-wrap rows-of-3">
          <div class="ss-col">
            <img src="http://cdn2.hubspot.net/hubfs/497415/img/3m-preferred-converter.jpg" />
             </div>
          <div class="ss-col">
            <img src="http://cdn2.hubspot.net/hubfs/497415/img/rogers-preferred-converter.jpg" alt="Material" />
             </div>
          <div class="ss-col">
            <img src="http://cdn2.hubspot.net/hubfs/497415/img/iso.png" alt="Turnaround" />
             </div>
        </div>        
      </section>
{% include "custom/pages/rpm/rpm-footer-landing-page.html"%}
{% include "custom/pages/rpm/rpm-html-footer.html"%}